Repository opencloudtool/agentty: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, djlint-reformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

mdformat:
  name: mdformat
  description: Format Markdown files.
  entry: mdformat
  language: python
  additional_dependencies:
  - mdformat==0.7.22

djlint-reformat:
  name: djlint reformat
  description: Format HTML files.
  entry: djlint --reformat
  language: python
  additional_dependencies:
  - djlint==1.36.4

rustfmt:
  name: rustfmt check
  description: Verify code formatting with rustfmt.
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check the package for errors.
  entry: cargo check -q --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  description: Lint the code and fail on any warnings.
  entry: cargo clippy -q --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-shear:
  name: cargo-shear
  description: Check for unused dependencies.
  entry: cargo shear
  language: system
  pass_filenames: false

check-migrations:
  name: check migrations
  description: Verifies that migration files have unique prefix numbers.
  entry: cargo run -q -p ag-xtask -- check-migrations
  language: system
  pass_filenames: false

Release v0.1.14
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Refine stats summary labels and aggregate model token output
  crates/agentty/src/ui/pages/stats.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Reset grouped session table offset before selection
  crates/agentty/src/ui/pages/session_list.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Prioritize basename matches in file list fuzzy scoring
  crates/agentty/src/file_list.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Parse index entries using markdown link destinations
  crates/ag-xtask/src/check_index.rs
  docs/site/content/AGENTS.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Parse Directory Index using pulldown-cmark
  Cargo.lock
  Cargo.toml
  crates/ag-xtask/Cargo.toml
  crates/ag-xtask/src/check_index.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Improve plan mode follow-up handling
  crates/agentty/resources/plan_mode.md
  crates/agentty/src/AGENTS.md
  crates/agentty/src/app/assist.rs
  crates/agentty/src/app/mod.rs
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/session/merge.rs
  crates/agentty/src/app/session/mod.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/domain/AGENTS.md
  crates/agentty/src/domain/mod.rs
  crates/agentty/src/domain/permission.rs
  crates/agentty/src/domain/plan.rs
  crates/agentty/src/infra/agent.rs
  crates/agentty/src/runtime/mod.rs
  crates/agentty/src/runtime/mode/view.rs
  crates/agentty/src/ui/components/session_output.rs
  crates/agentty/src/ui/mod.rs
  crates/agentty/src/ui/pages/session_chat.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Preserve a single evolving session commit
  crates/agentty/src/app/session/merge.rs
  crates/agentty/src/app/session/mod.rs
  crates/agentty/src/infra/git.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Add h/l shortcuts for confirmation selection
  crates/agentty/src/AGENTS.md
  crates/agentty/src/app/mod.rs
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/session/merge.rs
  crates/agentty/src/domain/mod.rs
  crates/agentty/src/infra/agent.rs
  crates/agentty/src/runtime/mode/confirmation.rs
  crates/agentty/src/runtime/mode/view.rs
  crates/agentty/src/ui/components/session_output.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Deduplicate list background rendering
  crates/agentty/src/ui/mod.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Sync main branch by pushing after rebase
  crates/agentty/src/app/session/merge.rs
  crates/agentty/src/app/session/mod.rs
  crates/agentty/src/runtime/mode/view.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Remove orphaned top-level source files from src/
  crates/agentty/src/AGENTS.md
  crates/agentty/src/agent.rs
  crates/agentty/src/db.rs
  crates/agentty/src/git.rs
  crates/agentty/src/icon.rs
  crates/agentty/src/lock.rs
  crates/agentty/src/model.rs
  crates/agentty/src/version.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Deny dead_code in clippy pre-commit hooks
  .pre-commit-config.yaml
Due: none

Poll and apply Codex usage limits updates
  crates/agentty/src/app/mod.rs
  crates/agentty/src/app/session/refresh.rs
  crates/agentty/src/app/task.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Render stats heatmap activity by local day
  Cargo.lock
  Cargo.toml
  crates/agentty/Cargo.toml
  crates/agentty/src/domain/session.rs
  crates/agentty/src/ui/pages/stats.rs
  crates/agentty/src/ui/util.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Persist and display all-time model usage and longest session duration
  crates/agentty/src/app/mod.rs
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/session/load.rs
  crates/agentty/src/app/session/mod.rs
  crates/agentty/src/app/session/refresh.rs
  crates/agentty/src/app/settings.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/infra/db.rs
  crates/agentty/src/runtime/mod.rs
  crates/agentty/src/ui/mod.rs
  crates/agentty/src/ui/pages/stats.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Fix launch and lint regressions after rebase
  crates/agentty/src/app/mod.rs
  crates/agentty/src/app/session/mod.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/ui/pages/stats.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Add iterative plan question flow with per-question answer options
  crates/agentty/resources/plan_mode.md
  crates/agentty/src/app/mod.rs
  crates/agentty/src/domain/permission.rs
  crates/agentty/src/domain/plan.rs
  crates/agentty/src/runtime/mode/view.rs
  crates/agentty/src/ui/components/session_output.rs
  crates/agentty/src/ui/pages/session_chat.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Move module roots from mod.rs to sibling files
  AGENTS.md
  crates/agentty/src/AGENTS.md
  crates/agentty/src/app.rs
  crates/agentty/src/app/AGENTS.md
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/AGENTS.md
  crates/agentty/src/runtime.rs
  crates/agentty/src/runtime/AGENTS.md
  crates/agentty/src/ui.rs
  crates/agentty/src/ui/AGENTS.md
  crates/agentty/src/ui/README.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Remove pr-testing directory references
  AGENTS.md
  CHANGELOG.md
  pr-testing/AGENTS.md
  pr-testing/CLAUDE.md
  pr-testing/GEMINI.md
  pr-testing/README.md
Due: mdformat

Split agent infrastructure into provider modules
  crates/agentty/src/infra/AGENTS.md
  crates/agentty/src/infra/agent.rs
  crates/agentty/src/infra/agent/AGENTS.md
  crates/agentty/src/infra/agent/CLAUDE.md
  crates/agentty/src/infra/agent/GEMINI.md
  crates/agentty/src/infra/agent/backend.rs
  crates/agentty/src/infra/agent/claude.rs
  crates/agentty/src/infra/agent/codex.rs
  crates/agentty/src/infra/agent/gemini.rs
  crates/agentty/src/infra/agent/response_parser.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Stabilize app-server mode flow and plan followups
  README.md
  crates/agentty/src/app.rs
  crates/agentty/src/app/service.rs
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/session/worker.rs
  crates/agentty/src/app/settings.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/domain/permission.rs
  crates/agentty/src/domain/plan.rs
  crates/agentty/src/infra/AGENTS.md
  crates/agentty/src/infra/agent.rs
  crates/agentty/src/infra/agent/backend.rs
  crates/agentty/src/infra/codex_app_server.rs
  crates/agentty/src/infra/mod.rs
  crates/agentty/src/runtime/mode/session_view.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Session task execution moves to SessionTaskService
  crates/agentty/src/app.rs
  crates/agentty/src/app/AGENTS.md
  crates/agentty/src/app/assist.rs
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/AGENTS.md
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/session/merge.rs
  crates/agentty/src/app/session/task.rs
  crates/agentty/src/app/session/worker.rs
  crates/agentty/src/app/task.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Fix Codex app-server error status recovery
  crates/agentty/src/app/task.rs
  crates/agentty/src/infra/git/AGENTS.md
  crates/agentty/src/infra/git/CLAUDE.md
  crates/agentty/src/infra/git/GEMINI.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Persist session-creation activity for stats heatmap
  README.md
  crates/agentty/migrations/023_create_session_activity.sql
  crates/agentty/migrations/AGENTS.md
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/session/load.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/infra/db.rs
  crates/agentty/src/ui/pages/stats.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

Add project and branch context to sync popups
  crates/agentty/src/app.rs
  crates/agentty/src/infra/codex_app_server.rs
  crates/agentty/src/infra/git/AGENTS.md
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/src/runtime/mode/sync_blocked.rs
  crates/agentty/src/ui.rs
  crates/agentty/src/ui/state/app_mode.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Refactor UI routing and centralize frame drawing
  crates/agentty/src/app.rs
  crates/agentty/src/runtime.rs
  crates/agentty/src/ui/overlays.rs
  crates/agentty/src/ui/router.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Improve rebase assist recovery and stale metadata cleanup
  crates/agentty/src/app/session/merge.rs
  crates/agentty/src/infra/git.rs
  crates/agentty/src/infra/git/rebase.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Release skill requires version bump confirmation
  skills/release/SKILL.md
Due: mdformat

Persist default model only when last-used option is enabled
  README.md
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/settings.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Use index-lock retry for git commands and simplify session view handling
  crates/agentty/src/infra/git.rs
  crates/agentty/src/infra/git/sync.rs
  crates/agentty/src/runtime/mode/session_view.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Add full workspace author metadata
  Cargo.toml
Due: none

Add crates.io publish workflow for release tags
  .github/workflows/AGENTS.md
  .github/workflows/publish-crates-io.yml
Due: mdformat

Release v0.2.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Stream Codex turn events to session output
  crates/agentty/src/app/task.rs
  crates/agentty/src/infra/agent.rs
  crates/agentty/src/infra/agent/response_parser.rs
  crates/agentty/src/infra/codex_app_server.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Require strict turn ID matching and make prompt char handling sync
  crates/agentty/src/infra/codex_app_server.rs
  crates/agentty/src/runtime/mode/prompt.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Extract shared stdio JSON-RPC transport utilities into `app_server_transport` module
  crates/agentty/src/infra/AGENTS.md
  crates/agentty/src/infra/app_server_transport.rs
  crates/agentty/src/infra/codex_app_server.rs
  crates/agentty/src/infra/mod.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Add contributing guide and reference it from README
  AGENTS.md
  CONTRIBUTING.md
  README.md
Due: mdformat

UI rendering moves into a dedicated render module
  crates/agentty/src/AGENTS.md
  crates/agentty/src/ui.rs
  crates/agentty/src/ui/AGENTS.md
  crates/agentty/src/ui/render.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Remove documentation sections from README
  README.md
Due: mdformat

Path conditions:
  mdformat: any of: \.(md|markdown)$
  djlint-reformat: any of: \.html?$
  rustfmt: any of: \.rs$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
  cargo-shear: any of: \.rs$
  check-migrations: any of: \.sql$
