Repository opencloudtool/agentty: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, djlint-reformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

mdformat:
  name: mdformat
  description: Format Markdown files.
  entry: mdformat
  language: python
  additional_dependencies:
  - mdformat==0.7.22

djlint-reformat:
  name: djlint reformat
  description: Format HTML files.
  entry: djlint --reformat
  language: python
  additional_dependencies:
  - djlint==1.36.4

rustfmt:
  name: rustfmt check
  description: Verify code formatting with rustfmt.
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check the package for errors.
  entry: cargo check -q --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  description: Lint the code and fail on any warnings.
  entry: cargo clippy -q --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-shear:
  name: cargo-shear
  description: Check for unused dependencies.
  entry: cargo shear
  language: system
  pass_filenames: false

check-migrations:
  name: check migrations
  description: Verifies that migration files have unique prefix numbers.
  entry: cargo run -q -p ag-xtask -- check-migrations
  language: system
  pass_filenames: false

Update docs sidebar styling for better hierarchy
  docs/site/templates/docs-page.html
Due: djlint-reformat

Cap chat input panel height and scroll prompt viewport
  crates/agentty/src/ui/components/chat_input.rs
  crates/agentty/src/ui/layout.rs
  crates/agentty/src/ui/pages/session_chat.rs
  crates/agentty/src/ui/util.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Exclude base.html from djlint reformatting
  .pre-commit-config.yaml
Due: none

Use compact footer help actions in UI pages
  crates/agentty/src/ui/pages/diff.rs
  crates/agentty/src/ui/pages/onboarding.rs
  crates/agentty/src/ui/pages/session_chat.rs
  crates/agentty/src/ui/pages/session_list.rs
  crates/agentty/src/ui/pages/settings.rs
  crates/agentty/src/ui/pages/stats.rs
  crates/agentty/src/ui/state/help_action.rs
  docs/site/content/docs/contributing/AGENTS.md
  docs/site/content/docs/getting-started/AGENTS.md
  docs/site/sass/AGENTS.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Enable sync retry from blocked popup and refresh docs descriptions
  crates/agentty/src/runtime/mode/sync_blocked.rs
  docs/site/content/docs/contributing/AGENTS.md
  docs/site/content/docs/getting-started/AGENTS.md
  docs/site/sass/AGENTS.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Adds getting started overview guide
  docs/site/content/docs/getting-started/AGENTS.md
  docs/site/content/docs/getting-started/overview.md
Due: mdformat

Rename list action to start new session
  crates/agentty/src/ui/state/help_action.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Show merge and rebase actions in session footer
  crates/agentty/src/ui/pages/session_chat.rs
  crates/agentty/src/ui/state/help_action.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Remove duplicate front matter delimiter in overview doc
  docs/site/content/docs/getting-started/overview.md
Due: mdformat

App server treats non-completed turns as errors
  crates/agentty/src/infra/codex_app_server.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Clarify terminal-first ADE messaging across docs
  README.md
  docs/site/content/_index.md
  docs/site/content/docs/getting-started/overview.md
Due: mdformat

Add never-bypass pre-commit hooks rule to Git Conventions
  AGENTS.md
Due: mdformat

Switch to Sessions after project selection
  crates/agentty/src/runtime/mode/list.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Remove onboarding page from list mode flow
  crates/agentty/src/app.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/src/ui/pages/AGENTS.md
  crates/agentty/src/ui/pages/mod.rs
  crates/agentty/src/ui/pages/onboarding.rs
  crates/agentty/src/ui/render.rs
  crates/agentty/src/ui/state/help_action.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

App excludes session worktrees and resolves main repo roots via git
  crates/agentty/src/app.rs
  crates/agentty/src/app/session/merge.rs
  crates/agentty/src/infra/git.rs
  crates/agentty/src/infra/git/repo.rs
  crates/agentty/src/infra/git/worktree.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Release v0.4.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Project switcher uses unfiltered list navigation
  crates/agentty/src/app.rs
  crates/agentty/src/app/project.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/src/runtime/mode/project_switcher.rs
  crates/agentty/src/ui/components/project_switcher_overlay.rs
  crates/agentty/src/ui/overlays.rs
  crates/agentty/src/ui/router.rs
  crates/agentty/src/ui/state/app_mode.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Project switcher supports j/k navigation and a visible selection window
  crates/agentty/src/runtime/mode/project_switcher.rs
  crates/agentty/src/ui/components/project_switcher_overlay.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Stabilize site header across routes
  docs/site/sass/site.scss
  docs/site/templates/base.html
  docs/site/templates/index.html
Due: djlint-reformat

Add Shift+Arrow word-wise cursor movement in prompt mode
  crates/agentty/src/runtime/mode/prompt.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Update documentation to highlight Agentty self-hosting
  README.md
  docs/site/content/_index.md
  docs/site/content/docs/getting-started/overview.md
Due: mdformat

Stream Gemini assistant chunks to the UI during turns
  crates/agentty/src/infra/app_server.rs
  crates/agentty/src/infra/gemini_acp.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Use live session output buffer for app-server restart context replay
  crates/agentty/src/app/task.rs
  crates/agentty/src/infra/app_server.rs
  crates/agentty/src/infra/app_server_router.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Document app and git context types and update XS size test
  crates/agentty/src/app/assist.rs
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/task.rs
  crates/agentty/src/app/settings.rs
  crates/agentty/src/domain/agent.rs
  crates/agentty/src/domain/input.rs
  crates/agentty/src/domain/permission.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/infra/git.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Centralize git command execution in git infra
  crates/agentty/src/infra/git/merge.rs
  crates/agentty/src/infra/git/rebase.rs
  crates/agentty/src/infra/git/repo.rs
  crates/agentty/src/infra/git/sync.rs
  crates/agentty/src/infra/git/worktree.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Ignore synthetic Codex completion status messages in final response
  crates/agentty/src/infra/agent/response_parser.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Improve Codex usage limit parsing compatibility
  crates/agentty/src/app/session/codex_usage.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Add Codex regression tests for resume prompts and trailing status output
  crates/agentty/src/infra/agent/codex.rs
  crates/agentty/src/infra/agent/response_parser.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Codex resume uses `--last` only without replay history
  crates/agentty/src/app/task.rs
  crates/agentty/src/infra/agent/codex.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Report sync outcome details in completion popup
  crates/agentty/src/app.rs
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/merge.rs
  crates/agentty/src/app/task.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Keep confirmation choices visible with long messages
  crates/agentty/src/ui/components/confirmation_overlay.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Inject `AppServerClient` into `App` for test mocking
  crates/agentty/src/app.rs
  crates/agentty/src/app/service.rs
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/codex_usage.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/main.rs
  crates/agentty/src/runtime/key_handler.rs
  crates/agentty/src/runtime/mode/diff.rs
  crates/agentty/src/runtime/mode/help.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/src/runtime/mode/prompt.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/runtime/mode/sync_blocked.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Sync messages preserve line breaks and tests reuse assertions
  crates/agentty/src/app/session/merge.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/ui/components/info_overlay.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Release v0.4.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Integrate typed Gemini ACP protocol transport and tests
  Cargo.lock
  Cargo.toml
  crates/agentty/Cargo.toml
  crates/agentty/src/app/task.rs
  crates/agentty/src/infra/gemini_acp.rs
  crates/agentty/src/infra/git.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Use Askama templates for session prompts and propagate render errors
  Cargo.lock
  Cargo.toml
  crates/agentty/AGENTS.md
  crates/agentty/Cargo.toml
  crates/agentty/askama.toml
  crates/agentty/resources/auto_commit_assist_prompt.md
  crates/agentty/resources/merge_commit_message_prompt.md
  crates/agentty/resources/rebase_assist_prompt.md
  crates/agentty/resources/resume_with_session_output_prompt.md
  crates/agentty/src/app/assist.rs
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/session/merge.rs
  crates/agentty/src/app/session/task.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/infra/agent/backend.rs
  crates/agentty/src/infra/agent/claude.rs
  crates/agentty/src/infra/agent/codex.rs
  crates/agentty/src/infra/agent/gemini.rs
  crates/agentty/src/infra/app_server.rs
  crates/agentty/src/infra/codex_app_server.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Release v0.4.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Improve sync popup guidance for push authentication failures
  crates/agentty/src/app.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Backend command construction uses one build API
  crates/agentty/src/app/assist.rs
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/session/merge.rs
  crates/agentty/src/domain/agent.rs
  crates/agentty/src/infra/agent.rs
  crates/agentty/src/infra/agent/backend.rs
  crates/agentty/src/infra/agent/claude.rs
  crates/agentty/src/infra/agent/codex.rs
  crates/agentty/src/infra/agent/gemini.rs
  crates/agentty/src/infra/agent/response_parser.rs
  crates/agentty/src/infra/app_server.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Enable live web search and network access for Codex sessions
  crates/agentty/src/infra/codex_app_server.rs
  crates/agentty/src/runtime/mode/session_view.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Path conditions:
  mdformat: any of: \.(md|markdown)$
  djlint-reformat: any of: \.html?$
  rustfmt: any of: \.rs$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
  cargo-shear: any of: \.rs$
  check-migrations: any of: \.sql$
