Repository opencloudtool/agentty: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, djlint-reformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        description: Format Markdown files.
        entry: mdformat
        language: python
        additional_dependencies: [mdformat==0.7.22]
        files: \.(md|markdown)$
      - id: djlint-reformat
        name: djlint reformat
        description: Format HTML files.
        entry: djlint --reformat
        language: python
        additional_dependencies: [djlint==1.36.4]
        files: \.html?$
      - id: rustfmt-fix
        name: rustfmt fix
        description: Format the code with rustfmt.
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
      - id: clippy-fix
        name: clippy fix
        description: Auto-fix clippy lints where possible.
        entry: cargo clippy --fix --allow-dirty --allow-staged -q --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
      - id: rustfmt
        name: rustfmt check
        description: Verify code formatting with rustfmt.
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check the package for errors.
        entry: cargo check -q --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false
      - id: clippy
        name: clippy
        description: Lint the code and fail on any warnings.
        entry: cargo clippy -q --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-shear
        name: cargo-shear
        description: Check for unused dependencies.
        entry: cargo shear
        language: system
        types: [rust]
        pass_filenames: false
      - id: check-indexes
        name: check indexes
        description: Verifies that all AGENTS.md files have an up-to-date Directory Index.
        entry: cargo run -q -p ag-xtask -- check-indexes
        language: system
        pass_filenames: false
      - id: check-migrations
        name: check migrations
        description: Verifies that migration files have unique prefix numbers.
        entry: cargo run -q -p ag-xtask -- check-migrations
        language: system
        types: [sql]
        pass_filenames: false

Refactor app runtime and provider command construction
  crates/agentty/src/app/service.rs
  crates/agentty/src/infra/agent/codex.rs
  crates/agentty/src/infra/agent/gemini.rs
  crates/agentty/src/runtime/event.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Preserve published-branch auto-push completion state
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/ui/component/session_output.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Refresh active-project roadmap on sync and session refresh
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/workflow/merge.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Rename postsubmit workflow label
  .github/workflows/postsubmit.yml
  README.md
Due: mdformat

Verify rebase auto-push reports successful published sync
  crates/agentty/src/app/session/workflow/merge.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Keep postsubmit workflow runs alive on new pushes
  .github/workflows/postsubmit.yml
Due: none

Track session output execution summaries in roadmap
  docs/plan/roadmap.md
Due: mdformat

Migrate E2E tests to `FeatureTest` builder and add Stats/Settings coverage
  crates/agentty/tests/e2e/common.rs
  crates/agentty/tests/e2e/confirmation.rs
  crates/agentty/tests/e2e/main.rs
  crates/agentty/tests/e2e/navigation.rs
  crates/agentty/tests/e2e/project.rs
  crates/agentty/tests/e2e/session.rs
  crates/agentty/tests/e2e/setting.rs
  crates/agentty/tests/e2e/stat.rs
  docs/site/content/features/settings_content.md
  docs/site/content/features/settings_edit.md
  docs/site/content/features/settings_help.md
  docs/site/content/features/settings_navigation.md
  docs/site/content/features/stats_content.md
  docs/site/content/features/stats_footer.md
  docs/site/content/features/stats_help.md
  docs/site/static/features/settings_content.gif
  docs/site/static/features/settings_edit.gif
  docs/site/static/features/settings_help.gif
  docs/site/static/features/settings_navigation.gif
  docs/site/static/features/stats_content.gif
  docs/site/static/features/stats_footer.gif
  docs/site/static/features/stats_help.gif
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Use `--acp` for Gemini and improve directory fuzzy matching
  crates/agentty/src/infra/agent/app_server/gemini/client.rs
  crates/agentty/src/infra/agent/app_server/gemini/lifecycle.rs
  crates/agentty/src/infra/agent/gemini.rs
  crates/agentty/src/infra/file_index.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Upgrade cargo-dist to 0.31.0
  .github/workflows/release.yml
  AGENTS.md
  dist-workspace.toml
Due: mdformat

Release v0.7.6
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Stabilize settings navigation E2E with seeded model settings
  crates/agentty/tests/e2e/setting.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Allow canceling unstarted draft sessions from the session list
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/src/ui/page/session_list.rs
  crates/agentty/src/ui/state/help_action.rs
  crates/agentty/tests/e2e/confirmation.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
  docs/site/content/features/draft_session_cancel.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Reorder session output rendering by chronological state
  crates/agentty/src/ui/component/session_output.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Release v0.7.7
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Migrate stored Claude Opus model IDs from `claude-opus-4-6` to `claude-opus-4-7`
  crates/agentty/migrations/042_migrate_claude_opus_46_to_47.sql
  crates/agentty/src/app/review.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/load.rs
  crates/agentty/src/app/session/workflow/task.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/app/setting.rs
  crates/agentty/src/domain/agent.rs
  crates/agentty/src/infra/db.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/page/stat.rs
  crates/agentty/tests/e2e/session.rs
  crates/agentty/tests/e2e/setting.rs
  crates/agentty/tests/showcase.rs
  docs/site/content/docs/agents/backends.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

Release v0.7.8
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Switch session worktree naming from `agentty` to `wt`
  AGENTS.md
  crates/ag-xtask/src/roadmap.rs
  crates/agentty/src/app/branch_publish.rs
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/merge.rs
  crates/agentty/src/app/session/workflow/refresh.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/infra/db.rs
  crates/agentty/src/infra/git/client.rs
  crates/agentty/src/infra/git/merge.rs
  crates/agentty/src/infra/git/sync.rs
  crates/agentty/src/runtime/key_handler.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/component/footer_bar.rs
  crates/agentty/src/ui/component/publish_branch_overlay.rs
  crates/agentty/src/ui/component/session_output.rs
  crates/agentty/src/ui/page/session_list.rs
  crates/agentty/src/ui/render.rs
  crates/agentty/tests/e2e/session.rs
  docs/site/content/docs/getting-started/overview.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Add `SessionFixtureBuilder` and deduplicate test session construction
  crates/agentty/src/domain/session.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/component/session_output.rs
  crates/agentty/src/ui/page/diff.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/page/stat.rs
  crates/agentty/src/ui/render.rs
  crates/agentty/src/ui/router.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Add unit tests for session workflow orchestration and infrastructure layers
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/refresh.rs
  crates/agentty/src/infra/agent/app_server/codex/lifecycle.rs
  crates/agentty/src/infra/agent/app_server/gemini/lifecycle.rs
  crates/agentty/src/infra/project_repository.rs
  crates/agentty/src/infra/setting_repository.rs
  docs/site/static/features/backtab_reverse.gif
  docs/site/static/features/draft_session_at_lookup.gif
  docs/site/static/features/footer_hints.gif
  docs/site/static/features/projects_cwd.gif
  docs/site/static/features/quit_confirmation.gif
  docs/site/static/features/quit_dismiss.gif
  docs/site/static/features/session_empty.gif
  docs/site/static/features/session_navigation.gif
  docs/site/static/features/session_open.gif
  docs/site/static/features/settings_edit.gif
  docs/site/static/features/settings_help.gif
  docs/site/static/features/settings_navigation.gif
  docs/site/static/features/stats_content.gif
  docs/site/static/features/stats_footer.gif
  docs/site/static/features/stats_help.gif
  docs/site/static/features/tab_full_cycle.gif
Due: rustfmt, cargo-check, clippy, cargo-shear

Extract shared forge adapter helpers into `adapter_common` module
  crates/ag-forge/src/adapter_common.rs
  crates/ag-forge/src/github.rs
  crates/ag-forge/src/gitlab.rs
  crates/ag-forge/src/lib.rs
  docs/site/static/features/backtab_reverse.gif
  docs/site/static/features/footer_hints.gif
  docs/site/static/features/help_overlay.gif
  docs/site/static/features/projects_cwd.gif
  docs/site/static/features/prompt_cancel.gif
  docs/site/static/features/prompt_typing.gif
  docs/site/static/features/quit_confirmation.gif
  docs/site/static/features/quit_dismiss.gif
  docs/site/static/features/review_request_publish_shortcut.gif
  docs/site/static/features/session_creation.gif
  docs/site/static/features/session_empty.gif
  docs/site/static/features/session_navigation.gif
  docs/site/static/features/session_open.gif
  docs/site/static/features/settings_content.gif
  docs/site/static/features/settings_edit.gif
  docs/site/static/features/settings_help.gif
  docs/site/static/features/settings_navigation.gif
  docs/site/static/features/startup.gif
  docs/site/static/features/stats_content.gif
  docs/site/static/features/stats_footer.gif
  docs/site/static/features/stats_help.gif
  docs/site/static/features/tab_full_cycle.gif
  docs/site/static/features/tab_switch.gif
Due: rustfmt, cargo-check, clippy, cargo-shear

Process queued session updates before render
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/review.rs
  crates/agentty/src/app/session_state.rs
  crates/agentty/src/runtime/core.rs
  docs/site/content/docs/architecture/runtime-flow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Poll review-request status in background for review sessions
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/startup.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/runtime/mode/help.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/overlay.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/state/app_mode.rs
  crates/agentty/src/ui/state/help_action.rs
  crates/agentty/tests/e2e/session.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
  docs/site/content/features/review_request_background_sync.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Refactor database persistence into repository modules
  Cargo.lock
  Cargo.toml
  crates/agentty/Cargo.toml
  crates/agentty/src/app/assist.rs
  crates/agentty/src/app/branch_publish.rs
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/service.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/load.rs
  crates/agentty/src/app/session/workflow/merge.rs
  crates/agentty/src/app/session/workflow/refresh.rs
  crates/agentty/src/app/session/workflow/task.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/app/setting.rs
  crates/agentty/src/app/startup.rs
  crates/agentty/src/infra.rs
  crates/agentty/src/infra/db.rs
  crates/agentty/src/infra/db/activity.rs
  crates/agentty/src/infra/db/operation.rs
  crates/agentty/src/infra/db/project.rs
  crates/agentty/src/infra/db/review.rs
  crates/agentty/src/infra/db/session.rs
  crates/agentty/src/infra/db/setting.rs
  crates/agentty/src/infra/db/usage.rs
  crates/agentty/src/infra/project_repository.rs
  crates/agentty/src/infra/setting_repository.rs
  crates/agentty/src/runtime/mode/prompt.rs
  docs/site/content/docs/architecture/change-recipes.md
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/testability-boundaries.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Remove obsolete roadmap quality card
  docs/plan/roadmap.md
Due: mdformat

Add marketing demo GIF to README and site homepage
  README.md
  docs/site/static/demo/demo.gif
  docs/site/templates/index.html
Due: mdformat, djlint-reformat

Simplify README hero with tagline above demo GIF
  README.md
Due: mdformat

Move demo GIF above the installation section on the homepage
  docs/site/templates/index.html
Due: djlint-reformat

Restore original README intro and keep demo GIF below the description
  README.md
Due: mdformat

Add marketing demo GIF to README and site homepage (#52)
  README.md
  docs/site/static/demo/demo.gif
  docs/site/templates/index.html
Due: mdformat, djlint-reformat

Update contributing section in README
  README.md
Due: mdformat

Update focused review FYI messaging
  crates/agentty/src/ui/page/fyi.rs
  crates/agentty/src/ui/page/session_chat.rs
  docs/site/content/docs/usage/keybindings.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Change Dependabot schedule from weekly to daily
  .github/dependabot.yml
Due: none

Refactored crates/agentty/src/app/core.rs into a router-only module
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/core/draw.rs
  crates/agentty/src/app/core/events.rs
  crates/agentty/src/app/core/new.rs
  crates/agentty/src/app/core/roadmap.rs
  crates/agentty/src/app/core/state.rs
  crates/agentty/src/app/session/workflow/task.rs
  crates/agentty/src/infra/agent/app_server/codex/stream_parser.rs
  docs/site/content/docs/architecture/module-map.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Prevents optional Git locks during inspection
  crates/ag-agent/src/agent/cli/execution.rs
  crates/ag-agent/src/app_server_transport.rs
  crates/ag-git/src/client.rs
  crates/ag-git/src/rebase.rs
  crates/ag-git/src/repo.rs
  crates/agentty/tests/e2e/session.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Harness persists durable sessions
  Cargo.lock
  crates/ag-harness-cli/Cargo.toml
  crates/ag-harness-cli/README.md
  crates/ag-harness-cli/src/main.rs
  crates/ag-harness-cli/tests/cli.rs
  crates/ag-harness/README.md
  crates/ag-harness/migrations/002_add_session_turn_lifecycle.sql
  crates/ag-harness/src/harness.rs
  crates/ag-harness/src/lib.rs
  crates/ag-harness/src/model.rs
  crates/ag-harness/src/provider/muse.rs
  crates/ag-harness/src/provider/qwen.rs
  crates/ag-harness/src/session.rs
  crates/ag-harness/src/trace.rs
  crates/ag-harness/tests/benchmark/main.rs
  crates/ag-harness/tests/e2e/muse_read.rs
  crates/ag-harness/tests/lifecycle.rs
  crates/ag-harness/tests/public_api.rs
  crates/ag-harness/tests/telemetry.rs
  docs/site/content/docs/architecture/_index.md
  docs/site/content/docs/architecture/ag-harness-design.md
  docs/site/content/docs/architecture/module-map.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

Prevents optional Git locks during inspection (#560)
  crates/ag-agent/src/agent/cli/execution.rs
  crates/ag-agent/src/app_server_transport.rs
  crates/ag-git/src/client.rs
  crates/ag-git/src/rebase.rs
  crates/ag-git/src/repo.rs
  crates/agentty/tests/e2e/session.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear
