Repository opencloudtool/agentty: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, djlint-reformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

mdformat:
  name: mdformat
  description: Format Markdown files.
  entry: mdformat
  language: python
  additional_dependencies:
  - mdformat==0.7.22

djlint-reformat:
  name: djlint reformat
  description: Format HTML files.
  entry: djlint --reformat
  language: python
  additional_dependencies:
  - djlint==1.36.4

rustfmt:
  name: rustfmt check
  description: Verify code formatting with rustfmt.
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check the package for errors.
  entry: cargo check -q --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  description: Lint the code and fail on any warnings.
  entry: cargo clippy -q --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-shear:
  name: cargo-shear
  description: Check for unused dependencies.
  entry: cargo shear
  language: system
  pass_filenames: false

check-migrations:
  name: check migrations
  description: Verifies that migration files have unique prefix numbers.
  entry: cargo run -q -p ag-xtask -- check-migrations
  language: system
  pass_filenames: false

Scope settings per project
  crates/agentty/migrations/029_create_project_setting.sql
  crates/agentty/migrations/AGENTS.md
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/app/setting.rs
  crates/agentty/src/infra/db.rs
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

Improve tmux and rebase test coverage
  crates/agentty/src/infra/git/rebase.rs
  crates/agentty/src/infra/tmux.rs
  docs/plan/test_coverage.md
  docs/site/content/docs/architecture/testability-boundaries.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Show project scope in list tabs
  crates/agentty/src/app/tab.rs
  crates/agentty/src/ui/component/tab.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Remove session worktrees when review sessions are canceled
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  docs/site/content/docs/getting-started/overview.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Allow Claude write-capable unattended tools
  crates/agentty/src/infra/agent/claude.rs
  docs/site/content/docs/agents/backends.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Restrict session editor shortcut to plain e presses
  crates/agentty/src/runtime/key_handler.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Persist session review request metadata
  crates/agentty/migrations/030_create_session_review_request.sql
  crates/agentty/migrations/AGENTS.md
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/load.rs
  crates/agentty/src/app/session_state.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/infra/db.rs
  crates/agentty/src/infra/forge/model.rs
  crates/agentty/src/ui/component/session_output.rs
  crates/agentty/src/ui/page/diff.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/page/session_list.rs
  crates/agentty/src/ui/page/stat.rs
  crates/agentty/src/ui/render.rs
  crates/agentty/src/ui/router.rs
  docs/plan/forge_review_request_support.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

Implementation plan skill checks for plan conflicts
  skills/implementation-plan/SKILL.md
Due: mdformat

Raise coverage ratchet and refresh coverage planning
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/plan/AGENTS.md
  docs/plan/coverage_follow_up.md
  docs/plan/test_coverage.md
Due: mdformat

Add predefined answer options for agent questions
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/workflow/load.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/infra/agent/protocol.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/src/runtime/mode/question.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/state/app_mode.rs
  docs/site/content/docs/agents/backends.md
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Refine coverage follow-up plan priorities
  docs/plan/coverage_follow_up.md
Due: mdformat

Add session view review request workflows
  README.md
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/refresh.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/runtime/key_handler.rs
  crates/agentty/src/runtime/mode/help.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/component/info_overlay.rs
  crates/agentty/src/ui/overlay.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/router.rs
  crates/agentty/src/ui/state/app_mode.rs
  crates/agentty/src/ui/state/help_action.rs
  docs/plan/forge_review_request_support.md
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Use `GLAB_NO_PROMPT` for GitLab `glab` commands
  crates/agentty/src/infra/forge/gitlab.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Start focused reviews from current diff
  crates/agentty/src/app.rs
  crates/agentty/src/app/core.rs
  crates/agentty/src/runtime/mode/session_view.rs
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Apply session updates
  crates/agentty/resources/protocol_instruction_prompt_with_schema.md
  crates/agentty/resources/protocol_instruction_prompt_without_schema.md
  crates/agentty/src/app/core.rs
  crates/agentty/src/runtime/event.rs
  crates/agentty/src/runtime/mode/question.rs
  crates/agentty/src/ui/page/session_chat.rs
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Change focused review navigation to open/regenerate with exit key
  crates/agentty/src/runtime/key_handler.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/router.rs
  crates/agentty/src/ui/state/app_mode.rs
  crates/agentty/src/ui/state/help_action.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Require generated merge commit messages
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/merge.rs
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Handle GitLab auth status and host targeting
  crates/agentty/src/infra/forge/gitlab.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Beautiful commit (made by Agentty)
  README.md
Due: mdformat

Refine plan sequencing and documentation requirements
  docs/plan/continue_in_progress_sessions_after_exit.md
  docs/plan/coverage_follow_up.md
  docs/plan/forge_review_request_support.md
Due: mdformat

Use `glab mr create` for GitLab merge requests
  crates/agentty/src/infra/forge/gitlab.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Use GitLab review commands to validate auth
  crates/agentty/src/infra/forge/gitlab.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Refine detached-session plan with design decisions, liveness protocol, and task breakdown
  docs/plan/continue_in_progress_sessions_after_exit.md
Due: mdformat

Increase home directory project scan depth to 5
  crates/agentty/src/app/core.rs
  crates/agentty/src/infra/forge/gitlab.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Make question options required in agent protocol
  crates/agentty/resources/protocol_instruction_prompt_with_schema.md
  crates/agentty/resources/protocol_instruction_prompt_without_schema.md
  crates/agentty/src/app/core.rs
  crates/agentty/src/infra/agent/protocol.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/src/runtime/mode/question.rs
  crates/agentty/src/ui/page/session_chat.rs
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Release v0.5.6
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Replace docs plan symlinks with explicit indexes and wrap usable outcomes across planning notes
  docs/plan/CLAUDE.md
  docs/plan/GEMINI.md
  docs/plan/continue_in_progress_sessions_after_exit.md
  docs/plan/coverage_follow_up.md
  docs/plan/end_to_end_test_structure.md
  docs/plan/forge_review_request_support.md
  skills/implementation-plan/SKILL.md
Due: mdformat

Keep priorities near the top of implementation plans
  docs/plan/AGENTS.md
  docs/plan/continue_in_progress_sessions_after_exit.md
  docs/plan/coverage_follow_up.md
  docs/plan/end_to_end_test_structure.md
  docs/plan/forge_review_request_support.md
  skills/implementation-plan/AGENTS.md
  skills/implementation-plan/SKILL.md
Due: mdformat

Expand UI helper coverage
  crates/agentty/src/ui/overlay.rs
  crates/agentty/src/ui/page/project_list.rs
  crates/agentty/src/ui/page/setting.rs
  docs/plan/coverage_follow_up.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Expand coverage for settings and git edge cases
  crates/agentty/src/app/setting.rs
  crates/agentty/src/infra/git/client.rs
  crates/agentty/src/infra/git/merge.rs
  crates/agentty/src/infra/git/repo.rs
  crates/agentty/src/infra/git/sync.rs
  docs/plan/coverage_follow_up.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Skip stale project directories
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/setting.rs
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Persist published upstream refs for sessions
  crates/agentty/migrations/031_add_published_upstream_ref_to_session.sql
  crates/agentty/migrations/AGENTS.md
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/load.rs
  crates/agentty/src/app/session/workflow/merge.rs
  crates/agentty/src/app/session/workflow/refresh.rs
  crates/agentty/src/app/session_state.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/infra/db.rs
  crates/agentty/src/infra/git.rs
  crates/agentty/src/infra/git/client.rs
  crates/agentty/src/infra/git/sync.rs
  crates/agentty/src/ui/component/session_output.rs
  crates/agentty/src/ui/page/diff.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/page/session_list.rs
  crates/agentty/src/ui/page/stat.rs
  crates/agentty/src/ui/render.rs
  crates/agentty/src/ui/router.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

Add session commit message flow plan
  docs/plan/AGENTS.md
  docs/plan/session_commit_message_flow.md
Due: mdformat

Release v0.5.7
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Ignore HTTPS userinfo in remote parsing
  crates/ag-forge/src/remote.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Generate session commit messages from cumulative diffs
  crates/agentty/resources/AGENTS.md
  crates/agentty/resources/session_commit_message_prompt.md
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow.rs
  crates/agentty/src/app/session/workflow/merge.rs
  crates/agentty/src/app/session/workflow/task.rs
  crates/agentty/src/infra/git.rs
  crates/agentty/src/infra/git/client.rs
  crates/agentty/src/infra/git/sync.rs
  docs/plan/session_commit_message_flow.md
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Refine implementation plan substep format
  docs/plan/AGENTS.md
  docs/plan/continue_in_progress_sessions_after_exit.md
  docs/plan/coverage_follow_up.md
  docs/plan/end_to_end_test_structure.md
  docs/plan/forge_review_request_support.md
  docs/plan/session_commit_message_flow.md
  skills/implementation-plan/SKILL.md
Due: mdformat

Scope prompt image paste plan to session chat composer
  docs/plan/prompt_image_paste.md
Due: mdformat

Align implementation plans with updated skill rules
  docs/plan/continue_in_progress_sessions_after_exit.md
  docs/plan/end_to_end_test_structure.md
  docs/plan/forge_review_request_support.md
  skills/implementation-plan/AGENTS.md
  skills/implementation-plan/SKILL.md
Due: mdformat

Release v0.5.9
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Path conditions:
  mdformat: any of: \.(md|markdown)$
  djlint-reformat: any of: \.html?$
  rustfmt: any of: \.rs$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
  cargo-shear: any of: \.rs$
  check-migrations: any of: \.sql$
