Repository opencloudtool/agentty: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, djlint-reformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        description: Format Markdown files.
        entry: mdformat
        language: python
        additional_dependencies: [mdformat==0.7.22]
        files: \.(md|markdown)$
      - id: djlint-reformat
        name: djlint reformat
        description: Format HTML files.
        entry: djlint --reformat
        language: python
        additional_dependencies: [djlint==1.36.4]
        files: \.html?$
      - id: rustfmt-fix
        name: rustfmt fix
        description: Format the code with rustfmt.
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
      - id: clippy-fix
        name: clippy fix
        description: Auto-fix clippy lints where possible.
        entry: cargo clippy --fix --allow-dirty --allow-staged -q --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
      - id: rustfmt
        name: rustfmt check
        description: Verify code formatting with rustfmt.
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check the package for errors.
        entry: cargo check -q --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false
      - id: clippy
        name: clippy
        description: Lint the code and fail on any warnings.
        entry: cargo clippy -q --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-shear
        name: cargo-shear
        description: Check for unused dependencies.
        entry: cargo shear
        language: system
        types: [rust]
        pass_filenames: false
      - id: check-indexes
        name: check indexes
        description: Verifies that all AGENTS.md files have an up-to-date Directory Index.
        entry: cargo run -q -p ag-xtask -- check-indexes
        language: system
        pass_filenames: false
      - id: check-migrations
        name: check migrations
        description: Verifies that migration files have unique prefix numbers.
        entry: cargo run -q -p ag-xtask -- check-migrations
        language: system
        types: [sql]
        pass_filenames: false

Apply session updates
  crates/agentty/src/app.rs
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/worker.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Split architecture docs into a dedicated section
  AGENTS.md
  docs/site/content/docs/AGENTS.md
  docs/site/content/docs/architecture/AGENTS.md
  docs/site/content/docs/architecture/CLAUDE.md
  docs/site/content/docs/architecture/GEMINI.md
  docs/site/content/docs/architecture/_index.md
  docs/site/content/docs/architecture/architecture-change-recipes.md
  docs/site/content/docs/architecture/architecture-module-map.md
  docs/site/content/docs/architecture/architecture-runtime-flow.md
  docs/site/content/docs/architecture/architecture-testability-boundaries.md
  docs/site/content/docs/architecture/design-architecture.md
  docs/site/content/docs/contributing/AGENTS.md
  docs/site/content/docs/contributing/_index.md
  docs/site/content/docs/contributing/design-architecture.md
Due: mdformat

Renames architecture docs and updates guide references
  AGENTS.md
  docs/site/content/docs/architecture/AGENTS.md
  docs/site/content/docs/architecture/change-recipes.md
  docs/site/content/docs/architecture/design-architecture.md
  docs/site/content/docs/architecture/guide-map.md
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/architecture/testability-boundaries.md
Due: mdformat

Document structured response protocol and docs sync paths
  crates/agentty/src/AGENTS.md
  crates/agentty/src/app/AGENTS.md
  crates/agentty/src/infra/agent/AGENTS.md
  crates/agentty/src/infra/channel/AGENTS.md
  crates/agentty/src/runtime/mode/AGENTS.md
  crates/agentty/src/ui/state/AGENTS.md
  docs/site/content/docs/agents/backends.md
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat

Align architecture docs with runtime mode, channel schema, and test boundaries
  crates/agentty/src/AGENTS.md
  crates/agentty/src/infra/channel/AGENTS.md
  crates/agentty/src/runtime/mode/AGENTS.md
  docs/site/content/docs/architecture/change-recipes.md
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/architecture/testability-boundaries.md
Due: mdformat

Fix active session count to exclude Question status and reload projects on session refresh
  crates/agentty/src/app.rs
  crates/agentty/src/infra/db.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Release v0.5.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Prevent docs content and TOC text overflow
  docs/site/sass/site.scss
Due: none

Add open command selector for multi-command worktree launch
  crates/agentty/src/app.rs
  crates/agentty/src/app/session/refresh.rs
  crates/agentty/src/app/setting.rs
  crates/agentty/src/runtime/key_handler.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/component.rs
  crates/agentty/src/ui/components/AGENTS.md
  crates/agentty/src/ui/components/open_command_overlay.rs
  crates/agentty/src/ui/pages/session_chat.rs
  crates/agentty/src/ui/render.rs
  crates/agentty/src/ui/router.rs
  crates/agentty/src/ui/state/app_mode.rs
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Apply session updates
  crates/agentty/src/app.rs
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/load.rs
  crates/agentty/src/runtime/mode/list.rs
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Parse merge commit message from protocol output
  crates/agentty/resources/merge_commit_message_prompt.md
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/merge.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Stop @mention highlighting before trailing punctuation
  crates/agentty/src/ui/layout.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Generate session titles from user intent when the first start turn begins
  crates/agentty/resources/session_title_generation_prompt.md
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/session/worker.rs
  docs/site/content/docs/architecture/runtime-flow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Support Alt+Enter and Shift+Enter newline entry across settings and prompt
  crates/agentty/src/app/setting.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/src/runtime/mode/prompt.rs
  docs/site/content/docs/usage/keybindings.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Preserve multiline user prompts across persistence and rendering
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/components/session_output.rs
  crates/agentty/src/ui/markdown.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Reframe UI beautification plan around implementation status
  docs/plan/beautiful_ui.md
Due: mdformat

Render clarification prompts with distinct spacing and styling
  crates/agentty/src/ui/components/session_output.rs
  crates/agentty/src/ui/markdown.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Render footer help as styled keybinding lines
  crates/agentty/src/ui/pages/diff.rs
  crates/agentty/src/ui/pages/project_list.rs
  crates/agentty/src/ui/pages/session_chat.rs
  crates/agentty/src/ui/pages/session_list.rs
  crates/agentty/src/ui/pages/setting.rs
  crates/agentty/src/ui/pages/stat.rs
  crates/agentty/src/ui/state/help_action.rs
  docs/plan/beautiful_ui.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Migrate UI color usage to semantic palette tokens
  crates/agentty/src/ui/AGENTS.md
  crates/agentty/src/ui/components/chat_input.rs
  crates/agentty/src/ui/components/file_explorer.rs
  crates/agentty/src/ui/components/footer_bar.rs
  crates/agentty/src/ui/components/session_output.rs
  crates/agentty/src/ui/components/status_bar.rs
  crates/agentty/src/ui/components/tab.rs
  crates/agentty/src/ui/pages/diff.rs
  crates/agentty/src/ui/pages/project_list.rs
  crates/agentty/src/ui/pages/session_list.rs
  crates/agentty/src/ui/pages/setting.rs
  crates/agentty/src/ui/pages/stat.rs
  crates/agentty/src/ui/style.rs
  docs/plan/beautiful_ui.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Session list uses shared page margin
  crates/agentty/src/ui/pages/session_list.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Enforce strict MCP config for Claude backend
  crates/agentty/src/infra/agent/claude.rs
  docs/site/content/docs/agents/backends.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Prevent duplicate final assistant output after streaming
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/infra/channel/app_server.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Refresh table visual styling across list and stats pages
  crates/agentty/src/ui/page/project_list.rs
  crates/agentty/src/ui/page/session_list.rs
  crates/agentty/src/ui/page/setting.rs
  crates/agentty/src/ui/page/stat.rs
  docs/plan/beautiful_ui.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Release v0.5.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Unify overlay styling and add dimmed backdrop
  crates/agentty/src/ui/component/confirmation_overlay.rs
  crates/agentty/src/ui/component/help_overlay.rs
  crates/agentty/src/ui/component/info_overlay.rs
  crates/agentty/src/ui/component/open_command_overlay.rs
  crates/agentty/src/ui/overlay.rs
  crates/agentty/src/ui/router.rs
  crates/agentty/src/ui/style.rs
  docs/plan/beautiful_ui.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Chat panel gets polished chrome
  crates/agentty/src/ui/component/chat_input.rs
  crates/agentty/src/ui/component/session_output.rs
  docs/plan/beautiful_ui.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Remove UI beautification plan
  docs/plan/AGENTS.md
  docs/plan/beautiful_ui.md
Due: mdformat

Add GitHub issue form templates and directory indexing
  .github/AGENTS.md
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/3-task.yml
  .github/ISSUE_TEMPLATE/AGENTS.md
  .github/ISSUE_TEMPLATE/CLAUDE.md
  .github/ISSUE_TEMPLATE/GEMINI.md
  .github/ISSUE_TEMPLATE/config.yml
Due: mdformat

Add implementation plan skill
  skills/AGENTS.md
  skills/implementation-plan/AGENTS.md
  skills/implementation-plan/CLAUDE.md
  skills/implementation-plan/GEMINI.md
  skills/implementation-plan/SKILL.md
Due: mdformat

Add focused runtime and UI coverage
  crates/agentty/src/runtime/core.rs
  crates/agentty/src/ui/render.rs
  crates/agentty/src/ui/router.rs
  docs/plan/test_coverage.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Clarify implementation plan requirements
  skills/implementation-plan/SKILL.md
Due: mdformat

Implementation-plan skill defines plan structure requirements
  docs/plan/AGENTS.md
  skills/implementation-plan/SKILL.md
Due: mdformat

Refine Agentty ADE description
  Cargo.toml
  README.md
  crates/agentty/src/ui/page/project_list.rs
  docs/site/config.toml
  docs/site/content/_index.md
  docs/site/content/docs/getting-started/installation.md
  docs/site/content/docs/getting-started/overview.md
  docs/site/templates/index.html
Due: mdformat, djlint-reformat, rustfmt, cargo-check, clippy, cargo-shear

Add default pull request template
  .github/AGENTS.md
  .github/pull_request_template.md
Due: mdformat

Add forge review request support plan
  docs/plan/AGENTS.md
  docs/plan/forge_review_request_support.md
Due: mdformat

Release v0.5.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Apply session updates
  crates/agentty/src/infra/db.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Implement forge CLI review-request adapters
  crates/agentty/src/infra/AGENTS.md
  crates/agentty/src/infra/forge.rs
  crates/agentty/src/infra/forge/AGENTS.md
  crates/agentty/src/infra/forge/CLAUDE.md
  crates/agentty/src/infra/forge/GEMINI.md
  crates/agentty/src/infra/forge/client.rs
  crates/agentty/src/infra/forge/command.rs
  crates/agentty/src/infra/forge/github.rs
  crates/agentty/src/infra/forge/gitlab.rs
  crates/agentty/src/infra/forge/model.rs
  crates/agentty/src/infra/forge/remote.rs
  docs/plan/forge_review_request_support.md
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/testability-boundaries.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear
