Repository opencloudtool/agentty: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, djlint-reformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

mdformat:
  name: mdformat
  description: Format Markdown files.
  entry: mdformat
  language: python
  additional_dependencies:
  - mdformat==0.7.22

djlint-reformat:
  name: djlint reformat
  description: Format HTML files.
  entry: djlint --reformat
  language: python
  additional_dependencies:
  - djlint==1.36.4

rustfmt:
  name: rustfmt check
  description: Verify code formatting with rustfmt.
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check the package for errors.
  entry: cargo check -q --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  description: Lint the code and fail on any warnings.
  entry: cargo clippy -q --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-shear:
  name: cargo-shear
  description: Check for unused dependencies.
  entry: cargo shear
  language: system
  pass_filenames: false

check-migrations:
  name: check migrations
  description: Verifies that migration files have unique prefix numbers.
  entry: cargo run -q -p ag-xtask -- check-migrations
  language: system
  pass_filenames: false

Adds MCP docs section and Context7 setup guide
  docs/site/content/docs/AGENTS.md
  docs/site/content/docs/contributing/_index.md
  docs/site/content/docs/mcp/AGENTS.md
  docs/site/content/docs/mcp/CLAUDE.md
  docs/site/content/docs/mcp/GEMINI.md
  docs/site/content/docs/mcp/_index.md
  docs/site/content/docs/mcp/context7.md
Due: mdformat

Keep info overlay action row visible for multiline messages
  crates/agentty/src/ui/components/info_overlay.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Session view blocks actions for canceled sessions
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/pages/session_chat.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Add agents, usage, and workflow documentation to docs site
  AGENTS.md
  crates/agentty/src/domain/AGENTS.md
  crates/agentty/src/runtime/mode/AGENTS.md
  crates/agentty/src/ui/state/AGENTS.md
  docs/site/content/docs/AGENTS.md
  docs/site/content/docs/agents/AGENTS.md
  docs/site/content/docs/agents/CLAUDE.md
  docs/site/content/docs/agents/GEMINI.md
  docs/site/content/docs/agents/_index.md
  docs/site/content/docs/agents/backends.md
  docs/site/content/docs/contributing/_index.md
  docs/site/content/docs/getting-started/overview.md
  docs/site/content/docs/mcp/_index.md
  docs/site/content/docs/usage/AGENTS.md
  docs/site/content/docs/usage/CLAUDE.md
  docs/site/content/docs/usage/GEMINI.md
  docs/site/content/docs/usage/_index.md
  docs/site/content/docs/usage/usage.md
  skills/release/SKILL.md
Due: mdformat

Refine focused review prompt around key diff risk analysis
  crates/agentty/resources/focused_review_assist_prompt.md
Due: mdformat

Render sync success metrics on separate lines
  crates/agentty/src/app.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Sync success message shows newly pulled commit titles
  crates/agentty/src/app.rs
  crates/agentty/src/app/session/merge.rs
  crates/agentty/src/infra/git.rs
  crates/agentty/src/infra/git/sync.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Remove env-based backend selection and document /model picker flow
  crates/agentty/src/domain/agent.rs
  docs/site/content/docs/agents/backends.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Read turn usage from thread token usage updates
  crates/agentty/src/infra/codex_app_server.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Add project explorer mode with session file preview
  crates/agentty/src/app.rs
  crates/agentty/src/app/session/refresh.rs
  crates/agentty/src/infra/file_index.rs
  crates/agentty/src/runtime/key_handler.rs
  crates/agentty/src/runtime/mode.rs
  crates/agentty/src/runtime/mode/AGENTS.md
  crates/agentty/src/runtime/mode/project_explorer.rs
  crates/agentty/src/ui/overlays.rs
  crates/agentty/src/ui/pages.rs
  crates/agentty/src/ui/pages/AGENTS.md
  crates/agentty/src/ui/pages/project_explorer.rs
  crates/agentty/src/ui/pages/session_chat.rs
  crates/agentty/src/ui/render.rs
  crates/agentty/src/ui/router.rs
  crates/agentty/src/ui/state/app_mode.rs
  crates/agentty/src/ui/state/help_action.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Refactor project explorer selection updates
  crates/agentty/src/runtime/mode/project_explorer.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Align project explorer root with launch context
  crates/agentty/src/runtime/mode/project_explorer.rs
  crates/agentty/src/ui/state/app_mode.rs
  docs/site/content/docs/usage/usage.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Prefix diff title with change totals
  crates/agentty/src/ui/pages/diff.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Refine focused review prompt structure
  crates/agentty/resources/focused_review_assist_prompt.md
Due: mdformat

Add default review model to settings
  crates/agentty/src/app/settings.rs
  crates/agentty/src/infra/db.rs
  crates/agentty/src/runtime/mode/list.rs
  docs/site/content/docs/usage/usage.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Info overlay centers title and shows only OK action
  crates/agentty/src/ui/components/info_overlay.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Session manager replays review history after restart
  crates/agentty/src/app/session.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Center loading sync text in info overlay
  crates/agentty/src/ui/components/info_overlay.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Adjust Codex auto-compaction threshold by model
  crates/agentty/src/infra/codex_app_server.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Release v0.4.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Handle delegated turn handoff completions in Codex app server
  crates/agentty/src/infra/codex_app_server.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Stats page adapts heatmap layout to narrow widths
  crates/agentty/src/ui/activity_heatmap.rs
  crates/agentty/src/ui/pages/stats.rs
  crates/agentty/src/ui/util.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Enforce repo-root-relative file path guidance in prompts
  crates/agentty/resources/AGENTS.md
  crates/agentty/resources/focused_review_assist_prompt.md
  crates/agentty/resources/repo_root_path_prompt.md
  crates/agentty/src/infra/agent.rs
  crates/agentty/src/infra/agent/backend.rs
  crates/agentty/src/infra/agent/claude.rs
  crates/agentty/src/infra/agent/codex.rs
  crates/agentty/src/infra/agent/gemini.rs
  crates/agentty/src/infra/app_server.rs
  crates/agentty/src/infra/codex_app_server.rs
  docs/site/content/docs/agents/backends.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Refines new session titles in background
  crates/agentty/resources/AGENTS.md
  crates/agentty/resources/session_title_generation_prompt.md
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/settings.rs
  docs/site/content/docs/usage/usage.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Use default review model for focused review assist
  crates/agentty/src/app.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/runtime/mode/session_view.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Persist and resume provider-native conversation identifiers across runtime restarts
  crates/agentty/migrations/027_add_provider_conversation_id_to_session.sql
  crates/agentty/migrations/AGENTS.md
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/infra/app_server.rs
  crates/agentty/src/infra/app_server_router.rs
  crates/agentty/src/infra/codex_app_server.rs
  crates/agentty/src/infra/db.rs
  crates/agentty/src/infra/gemini_acp.rs
  docs/site/content/docs/agents/backends.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

Simplify sync commit title formatting
  crates/agentty/src/app.rs
  crates/agentty/src/runtime/mode/sync_blocked.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Open nvim in read-only mode
  crates/agentty/resources/repo_root_path_prompt.md
  crates/agentty/src/runtime/terminal.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Session title prompt summarizes provided text
  crates/agentty/resources/session_title_generation_prompt.md
Due: mdformat

Remove gpt-5.2-codex and update model defaults
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/settings.rs
  crates/agentty/src/domain/agent.rs
  crates/agentty/src/infra/codex_app_server.rs
  crates/agentty/src/infra/db.rs
  crates/agentty/src/ui/pages/session_list.rs
  docs/site/content/docs/agents/backends.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Colorize added/removed line counts in diff page title
  crates/agentty/src/ui/pages/diff.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Tests add Arrange comments for AAA consistency
  crates/agentty/src/infra/agent/response_parser.rs
  crates/agentty/src/infra/codex_app_server.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Unify session turn execution through agent channels
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/session/task.rs
  crates/agentty/src/app/session/worker.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/infra.rs
  crates/agentty/src/infra/AGENTS.md
  crates/agentty/src/infra/app_server.rs
  crates/agentty/src/infra/channel.rs
  crates/agentty/src/infra/channel/AGENTS.md
  crates/agentty/src/infra/channel/CLAUDE.md
  crates/agentty/src/infra/channel/GEMINI.md
  crates/agentty/src/infra/channel/app_server.rs
  crates/agentty/src/infra/channel/cli.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Plumb provider conversation ID through agent channel for native context resume
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/session/worker.rs
  crates/agentty/src/infra/channel.rs
  crates/agentty/src/infra/channel/AGENTS.md
  crates/agentty/src/infra/channel/app_server.rs
  crates/agentty/src/infra/channel/cli.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Add UI beautification plan
  docs/plan/beautiful_ui.md
Due: mdformat

Refactor session tests to use injected git and replay helpers
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/AGENTS.md
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/session/merge.rs
  crates/agentty/src/app/session/review.rs
  crates/agentty/src/infra/db.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Add structured question-answer flow between agents and users
  crates/agentty/resources/AGENTS.md
  crates/agentty/resources/question_instruction_prompt.md
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/session/worker.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/infra/agent.rs
  crates/agentty/src/infra/agent/AGENTS.md
  crates/agentty/src/infra/agent/backend.rs
  crates/agentty/src/infra/agent/claude.rs
  crates/agentty/src/infra/agent/codex.rs
  crates/agentty/src/infra/agent/gemini.rs
  crates/agentty/src/infra/agent/question_parser.rs
  crates/agentty/src/infra/app_server.rs
  crates/agentty/src/runtime/mode/session_view.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Add design and architecture documentation page
  AGENTS.md
  CONTRIBUTING.md
  crates/agentty/src/AGENTS.md
  docs/AGENTS.md
  docs/plan/AGENTS.md
  docs/plan/CLAUDE.md
  docs/plan/GEMINI.md
  docs/site/content/docs/contributing/AGENTS.md
  docs/site/content/docs/contributing/_index.md
  docs/site/content/docs/contributing/design-architecture.md
Due: mdformat

Add stable paragraph anchor IDs across docs
  docs/site/content/docs/AGENTS.md
  docs/site/content/docs/_index.md
  docs/site/content/docs/agents/_index.md
  docs/site/content/docs/agents/backends.md
  docs/site/content/docs/contributing/_index.md
  docs/site/content/docs/contributing/design-architecture.md
  docs/site/content/docs/contributing/managing-docs-with-zola.md
  docs/site/content/docs/getting-started/installation.md
  docs/site/content/docs/getting-started/overview.md
  docs/site/content/docs/mcp/_index.md
  docs/site/content/docs/mcp/context7.md
  docs/site/content/docs/usage/_index.md
  docs/site/content/docs/usage/usage.md
  docs/site/templates/docs-page.html
Due: mdformat, djlint-reformat

Add copyable paragraph anchor links in docs pages
  docs/site/content/docs/contributing/managing-docs-with-zola.md
  docs/site/sass/site.scss
  docs/site/templates/docs-page.html
Due: mdformat, djlint-reformat

Path conditions:
  mdformat: any of: \.(md|markdown)$
  djlint-reformat: any of: \.html?$
  rustfmt: any of: \.rs$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
  cargo-shear: any of: \.rs$
  check-migrations: any of: \.sql$
