Repository opencloudtool/agentty: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, djlint-reformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

mdformat:
  name: mdformat
  description: Format Markdown files.
  entry: mdformat
  language: python
  additional_dependencies:
  - mdformat==0.7.22

djlint-reformat:
  name: djlint reformat
  description: Format HTML files.
  entry: djlint --reformat
  language: python
  additional_dependencies:
  - djlint==1.36.4

rustfmt:
  name: rustfmt check
  description: Verify code formatting with rustfmt.
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check the package for errors.
  entry: cargo check -q --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  description: Lint the code and fail on any warnings.
  entry: cargo clippy -q --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-shear:
  name: cargo-shear
  description: Check for unused dependencies.
  entry: cargo shear
  language: system
  pass_filenames: false

check-migrations:
  name: check migrations
  description: Verifies that migration files have unique prefix numbers.
  entry: cargo run -q -p ag-xtask -- check-migrations
  language: system
  pass_filenames: false

Preserve review routing and isolate E2E environments
  crates/ag-agent/src/agent/submission.rs
  crates/ag-agent/src/app_server_transport.rs
  crates/ag-agent/src/channel/app_server.rs
  crates/ag-git/src/worktree.rs
  crates/ag-harness/src/file_system.rs
  crates/ag-tui-text/src/text_util.rs
  crates/agentty/src/app/core/state.rs
  crates/agentty/src/app/prompt_intent.rs
  crates/agentty/src/app/session/workflow/turn.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/app/session_api.rs
  crates/agentty/src/app/sync.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/infra/file_index.rs
  crates/agentty/src/main.rs
  crates/agentty/src/runtime/key_handler.rs
  crates/agentty/src/runtime/mode/diff.rs
  crates/agentty/src/runtime/mode/question.rs
  crates/agentty/src/ui/layout.rs
  crates/agentty/tests/e2e/common.rs
  crates/agentty/tests/e2e/project.rs
  crates/agentty/tests/e2e/session.rs
  crates/testty/src/assertion.rs
  crates/testty/src/diff.rs
  crates/testty/src/main.rs
  crates/testty/src/recipe.rs
  crates/testty/src/renderer.rs
  crates/testty/src/vhs.rs
  crates/testty/tests/public_api.rs
  rust-toolchain.toml
Due: rustfmt, cargo-check, clippy, cargo-shear

Harness persists durable sessions (#559)
  Cargo.lock
  crates/ag-harness-cli/Cargo.toml
  crates/ag-harness-cli/README.md
  crates/ag-harness-cli/src/main.rs
  crates/ag-harness-cli/tests/cli.rs
  crates/ag-harness/README.md
  crates/ag-harness/migrations/002_add_session_turn_lifecycle.sql
  crates/ag-harness/src/harness.rs
  crates/ag-harness/src/lib.rs
  crates/ag-harness/src/model.rs
  crates/ag-harness/src/provider/muse.rs
  crates/ag-harness/src/provider/qwen.rs
  crates/ag-harness/src/session.rs
  crates/ag-harness/src/trace.rs
  crates/ag-harness/tests/benchmark/main.rs
  crates/ag-harness/tests/e2e/muse_read.rs
  crates/ag-harness/tests/lifecycle.rs
  crates/ag-harness/tests/public_api.rs
  crates/ag-harness/tests/telemetry.rs
  docs/site/content/docs/architecture/_index.md
  docs/site/content/docs/architecture/ag-harness-design.md
  docs/site/content/docs/architecture/module-map.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

Keep session workflows responsive during background work
  crates/ag-git/src/error.rs
  crates/ag-git/src/repo.rs
  crates/ag-git/src/sync.rs
  crates/ag-git/src/worktree.rs
  crates/ag-session/src/model.rs
  crates/agentty/src/app/core/events.rs
  crates/agentty/src/app/core/new.rs
  crates/agentty/src/app/core/state.rs
  crates/agentty/src/app/service.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/core_test.rs
  crates/agentty/src/app/session/state.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/load.rs
  crates/agentty/src/app/session/workflow/refresh.rs
  crates/agentty/src/app/session/workflow/turn.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/app/session_diff.rs
  crates/agentty/src/app/startup.rs
  crates/agentty/src/app/sync.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/presentation/prompt.rs
  crates/agentty/src/runtime/mode/at_mention.rs
  crates/agentty/src/runtime/mode/diff.rs
  crates/agentty/src/ui/prompt_format.rs
  crates/agentty/tests/e2e/session.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Preserve review routing and isolate E2E environments (#561)
  crates/ag-agent/src/agent/submission.rs
  crates/ag-agent/src/app_server_transport.rs
  crates/ag-agent/src/channel/app_server.rs
  crates/ag-git/src/worktree.rs
  crates/ag-harness/src/file_system.rs
  crates/ag-tui-text/src/text_util.rs
  crates/agentty/src/app/core/state.rs
  crates/agentty/src/app/prompt_intent.rs
  crates/agentty/src/app/session/workflow/turn.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/app/session_api.rs
  crates/agentty/src/app/sync.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/infra/file_index.rs
  crates/agentty/src/main.rs
  crates/agentty/src/runtime/key_handler.rs
  crates/agentty/src/runtime/mode/diff.rs
  crates/agentty/src/runtime/mode/question.rs
  crates/agentty/src/ui/layout.rs
  crates/agentty/tests/e2e/common.rs
  crates/agentty/tests/e2e/project.rs
  crates/agentty/tests/e2e/session.rs
  crates/testty/src/assertion.rs
  crates/testty/src/diff.rs
  crates/testty/src/main.rs
  crates/testty/src/recipe.rs
  crates/testty/src/renderer.rs
  crates/testty/src/vhs.rs
  crates/testty/tests/public_api.rs
  rust-toolchain.toml
Due: rustfmt, cargo-check, clippy, cargo-shear

Resume fallback preserves replacement continuations
  crates/ag-harness/README.md
  crates/ag-harness/src/chat_completion.rs
  crates/ag-harness/src/harness.rs
  crates/ag-harness/src/lifecycle.rs
  crates/ag-harness/src/model.rs
  crates/ag-harness/tests/public_api.rs
  docs/site/content/docs/architecture/ag-harness-design.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Resume fallback preserves replacement continuations (#563)
  crates/ag-harness/README.md
  crates/ag-harness/src/chat_completion.rs
  crates/ag-harness/src/harness.rs
  crates/ag-harness/src/lifecycle.rs
  crates/ag-harness/src/model.rs
  crates/ag-harness/tests/public_api.rs
  docs/site/content/docs/architecture/ag-harness-design.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Refreshes canonical session state and recovers abandoned turns
  crates/ag-harness/migrations/003_add_session_turn_owner_token.sql
  crates/ag-harness/src/harness.rs
  crates/ag-harness/src/session.rs
  docs/site/content/docs/architecture/ag-harness-design.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

Refreshes canonical session state and recovers abandoned turns (#566)
  crates/ag-harness/migrations/003_add_session_turn_owner_token.sql
  crates/ag-harness/src/harness.rs
  crates/ag-harness/src/session.rs
  docs/site/content/docs/architecture/ag-harness-design.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

Use checked SQLx queries for session persistence
  CONTRIBUTING.md
  crates/ag-harness/.sqlx/query-262a699801a38579a11d1c2deb99328d182dc05e6c9329a0967d44e10693e730.json
  crates/ag-harness/.sqlx/query-324a4345246d93c36980918aa3940fd1745ac3120b45edb7633ba1c684d4a3c7.json
  crates/ag-harness/.sqlx/query-acec736ccaa9473aabd4996629b3f38f197dd97a7ee2b2fe01727fc47e8b67d0.json
  crates/ag-harness/.sqlx/query-b46e65d33b8a41a28d05e708fe41b5f8d2f65198dfb0017e9ae4d95822c30598.json
  crates/ag-harness/.sqlx/query-c2a3f58746999e58378c5b73c7033efbf42a9e3bf44ae94ac4f58f81b0f668ff.json
  crates/ag-harness/.sqlx/query-d02d75629ba9e3e76736940b777b02eec87ccb48ae1bf731822e2423ec260983.json
  crates/ag-harness/AGENTS.md
  crates/ag-harness/src/session.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Session persistence uses checked SQLx queries (#564)
  CONTRIBUTING.md
  crates/ag-harness/.sqlx/query-262a699801a38579a11d1c2deb99328d182dc05e6c9329a0967d44e10693e730.json
  crates/ag-harness/.sqlx/query-324a4345246d93c36980918aa3940fd1745ac3120b45edb7633ba1c684d4a3c7.json
  crates/ag-harness/.sqlx/query-acec736ccaa9473aabd4996629b3f38f197dd97a7ee2b2fe01727fc47e8b67d0.json
  crates/ag-harness/.sqlx/query-b46e65d33b8a41a28d05e708fe41b5f8d2f65198dfb0017e9ae4d95822c30598.json
  crates/ag-harness/.sqlx/query-c2a3f58746999e58378c5b73c7033efbf42a9e3bf44ae94ac4f58f81b0f668ff.json
  crates/ag-harness/.sqlx/query-d02d75629ba9e3e76736940b777b02eec87ccb48ae1bf731822e2423ec260983.json
  crates/ag-harness/AGENTS.md
  crates/ag-harness/src/session.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Repository tools require trusted Git executables
  crates/ag-harness-cli/README.md
  crates/ag-harness-cli/src/main.rs
  crates/ag-harness-cli/tests/cli.rs
  crates/ag-harness/README.md
  crates/ag-harness/src/harness.rs
  crates/ag-harness/src/lib.rs
  crates/ag-harness/src/read.rs
  crates/ag-harness/src/repository.rs
  crates/ag-harness/src/tool.rs
  crates/ag-harness/src/trace.rs
  crates/ag-harness/tests/benchmark/README.md
  crates/ag-harness/tests/benchmark/main.rs
  crates/ag-harness/tests/e2e/README.md
  crates/ag-harness/tests/e2e/muse_read.rs
  crates/ag-harness/tests/public_api.rs
  crates/ag-harness/tests/telemetry.rs
  docs/site/content/docs/architecture/ag-harness-design.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Strengthens durable session lifecycle handling
  crates/ag-harness/Cargo.toml
  crates/ag-harness/src/harness.rs
  crates/ag-harness/src/session.rs
  crates/ag-harness/tests/public_api.rs
  docs/site/content/docs/architecture/ag-harness-design.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Builds limit parallelism across sessions
  .cargo/config.toml
Due: none

Builds limit parallelism across sessions (#569)
  .cargo/config.toml
Due: none

Simplifies package metadata and test dependencies
  Cargo.toml
  crates/ag-agent/Cargo.toml
  crates/ag-clipboard/Cargo.toml
  crates/ag-forge/Cargo.toml
  crates/ag-git/Cargo.toml
  crates/ag-harness-cli/Cargo.toml
  crates/ag-harness/Cargo.toml
  crates/ag-protocol/Cargo.toml
  crates/ag-session/Cargo.toml
  crates/ag-store/Cargo.toml
  crates/ag-tui-text/Cargo.toml
  crates/ag-xtask/Cargo.toml
  crates/agentty/Cargo.toml
  crates/testty/Cargo.toml
  crates/testty/src/feature.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Keep session creation responsive
  crates/agentty/src/app.rs
  crates/agentty/src/app/core/events.rs
  crates/agentty/src/app/core/new.rs
  crates/agentty/src/app/core/state.rs
  crates/agentty/src/app/service.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session_api.rs
  crates/agentty/src/app/session_creation.rs
  crates/agentty/src/runtime/key_handler.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/tests/e2e/session.rs
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Simplifies package metadata and test dependencies (#571)
  Cargo.toml
  crates/ag-agent/Cargo.toml
  crates/ag-clipboard/Cargo.toml
  crates/ag-forge/Cargo.toml
  crates/ag-git/Cargo.toml
  crates/ag-harness-cli/Cargo.toml
  crates/ag-harness/Cargo.toml
  crates/ag-protocol/Cargo.toml
  crates/ag-session/Cargo.toml
  crates/ag-store/Cargo.toml
  crates/ag-tui-text/Cargo.toml
  crates/ag-xtask/Cargo.toml
  crates/agentty/Cargo.toml
  crates/testty/Cargo.toml
  crates/testty/src/feature.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Keep session creation responsive (#570)
  crates/agentty/src/app.rs
  crates/agentty/src/app/core/events.rs
  crates/agentty/src/app/core/new.rs
  crates/agentty/src/app/core/state.rs
  crates/agentty/src/app/service.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session_api.rs
  crates/agentty/src/app/session_creation.rs
  crates/agentty/src/runtime/key_handler.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/tests/e2e/session.rs
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Centralize repository guidance
  AGENTS.md
  crates/AGENTS.md
  crates/agentty/AGENTS.md
  crates/agentty/src/AGENTS.md
  docs/site/AGENTS.md
  docs/site/CLAUDE.md
  docs/site/GEMINI.md
  docs/site/content/docs/AGENTS.md
Due: mdformat

Centralize repository guidance (#572)
  AGENTS.md
  crates/AGENTS.md
  crates/agentty/AGENTS.md
  crates/agentty/src/AGENTS.md
  docs/site/AGENTS.md
  docs/site/CLAUDE.md
  docs/site/GEMINI.md
  docs/site/content/docs/AGENTS.md
Due: mdformat

E2E container builds use HTTPS-only curl downloads
  container/e2e.Containerfile
Due: none

Repository tools require trusted Git executables (#568)
  crates/ag-harness-cli/README.md
  crates/ag-harness-cli/src/main.rs
  crates/ag-harness-cli/tests/cli.rs
  crates/ag-harness/README.md
  crates/ag-harness/src/harness.rs
  crates/ag-harness/src/lib.rs
  crates/ag-harness/src/read.rs
  crates/ag-harness/src/repository.rs
  crates/ag-harness/src/tool.rs
  crates/ag-harness/src/trace.rs
  crates/ag-harness/tests/benchmark/README.md
  crates/ag-harness/tests/benchmark/main.rs
  crates/ag-harness/tests/e2e/README.md
  crates/ag-harness/tests/e2e/muse_read.rs
  crates/ag-harness/tests/public_api.rs
  crates/ag-harness/tests/telemetry.rs
  docs/site/content/docs/architecture/ag-harness-design.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Strengthens durable session lifecycle handling (#565)
  crates/ag-harness/Cargo.toml
  crates/ag-harness/src/harness.rs
  crates/ag-harness/src/session.rs
  crates/ag-harness/tests/public_api.rs
  docs/site/content/docs/architecture/ag-harness-design.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

E2E container builds use HTTPS-only curl downloads (#573)
  container/e2e.Containerfile
Due: none

Harness tests use repository fixtures
  crates/ag-harness/src/harness.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Harness tests use repository fixtures (#575)
  crates/ag-harness/src/harness.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Move campaign orchestration into reusable crate
  .github/workflows/postsubmit.yml
  .github/workflows/publish-crates-io.yml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  README.md
  crates/ag-orchestration/Cargo.toml
  crates/ag-orchestration/askama.toml
  crates/ag-orchestration/src/coordinator.rs
  crates/ag-orchestration/src/event.rs
  crates/ag-orchestration/src/lib.rs
  crates/ag-orchestration/src/template/orchestration_child_prompt.md
  crates/ag-orchestration/src/template/orchestration_research_prompt.md
  crates/ag-orchestration/src/template/orchestrator_controller_prompt.md
  crates/ag-session/src/lib.rs
  crates/ag-session/src/model.rs
  crates/ag-session/src/review.rs
  crates/ag-session/src/template/apply_review_prompt.md
  crates/agentty/Cargo.toml
  crates/agentty/src/app.rs
  crates/agentty/src/app/prompt_intent.rs
  crates/agentty/src/app/service.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/core_test.rs
  crates/agentty/src/app/session/workflow/load.rs
  crates/agentty/src/app/session/workflow/post_turn.rs
  crates/agentty/src/app/session/workflow/turn.rs
  crates/agentty/src/app/session_api.rs
  crates/agentty/src/app/session_diff.rs
  crates/agentty/src/runtime/core.rs
  crates/agentty/src/runtime/mode/prompt.rs
  crates/agentty/src/runtime/mode/session_view.rs
  docs/site/content/docs/architecture/change-recipes.md
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/architecture/testability-boundaries.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Limit concurrent subagents for native providers
  crates/ag-agent/src/agent/app_server/command.rs
  crates/ag-agent/src/agent/backend.rs
  crates/ag-agent/src/agent/claude.rs
  crates/ag-agent/src/agent/codex.rs
  crates/ag-agent/tests/subagent_limit.rs
  docs/site/content/docs/agents/backends.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Limit concurrent subagents for native providers (#574)
  crates/ag-agent/src/agent/app_server/command.rs
  crates/ag-agent/src/agent/backend.rs
  crates/ag-agent/src/agent/claude.rs
  crates/ag-agent/src/agent/codex.rs
  crates/ag-agent/tests/subagent_limit.rs
  docs/site/content/docs/agents/backends.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Move campaign orchestration into reusable crate (#576)
  .github/workflows/postsubmit.yml
  .github/workflows/publish-crates-io.yml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  README.md
  crates/ag-orchestration/Cargo.toml
  crates/ag-orchestration/askama.toml
  crates/ag-orchestration/src/coordinator.rs
  crates/ag-orchestration/src/event.rs
  crates/ag-orchestration/src/lib.rs
  crates/ag-orchestration/src/template/orchestration_child_prompt.md
  crates/ag-orchestration/src/template/orchestration_research_prompt.md
  crates/ag-orchestration/src/template/orchestrator_controller_prompt.md
  crates/ag-session/src/lib.rs
  crates/ag-session/src/model.rs
  crates/ag-session/src/review.rs
  crates/ag-session/src/template/apply_review_prompt.md
  crates/agentty/Cargo.toml
  crates/agentty/src/app.rs
  crates/agentty/src/app/prompt_intent.rs
  crates/agentty/src/app/service.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/core_test.rs
  crates/agentty/src/app/session/workflow/load.rs
  crates/agentty/src/app/session/workflow/post_turn.rs
  crates/agentty/src/app/session/workflow/turn.rs
  crates/agentty/src/app/session_api.rs
  crates/agentty/src/app/session_diff.rs
  crates/agentty/src/runtime/core.rs
  crates/agentty/src/runtime/mode/prompt.rs
  crates/agentty/src/runtime/mode/session_view.rs
  docs/site/content/docs/architecture/change-recipes.md
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/architecture/testability-boundaries.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Centralize turn types in a dedicated module
  crates/ag-harness/src/harness.rs
  crates/ag-harness/src/lib.rs
  crates/ag-harness/src/turn.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Centralize turn types in a dedicated module (#577)
  crates/ag-harness/src/harness.rs
  crates/ag-harness/src/lib.rs
  crates/ag-harness/src/turn.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Session replay preserves context and protocol integrity
  crates/ag-agent/Cargo.toml
  crates/ag-agent/src/agent.rs
  crates/ag-agent/src/agent/instruction.rs
  crates/ag-agent/src/agent/prompt.rs
  crates/ag-agent/src/agent/replay.rs
  crates/ag-agent/src/agent/submission.rs
  crates/ag-agent/src/agent/template/resume_with_transcript_prompt.md
  crates/ag-agent/src/app_server/retry.rs
  crates/ag-agent/src/channel/app_server.rs
  crates/ag-agent/src/channel/cli.rs
  crates/ag-orchestration/src/coordinator.rs
  crates/ag-orchestration/src/template/orchestration_child_prompt.md
  crates/ag-protocol/src/envelope.rs
  crates/ag-protocol/src/lib.rs
  crates/ag-protocol/src/template/protocol_instruction_policy_prompt.md
  crates/ag-protocol/src/template/protocol_instruction_prompt.md
  crates/ag-protocol/src/template/protocol_instruction_session_turn_usage.md
  crates/ag-protocol/src/template/protocol_repair_prompt.md
  crates/agentty/src/app/core/new.rs
  crates/agentty/src/app/core/state_test.rs
  crates/agentty/src/app/session/core_test.rs
  crates/agentty/src/infra/fs.rs
  crates/agentty/tests/e2e/session.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Session replay preserves context and protocol integrity (#580)
  crates/ag-agent/Cargo.toml
  crates/ag-agent/src/agent.rs
  crates/ag-agent/src/agent/instruction.rs
  crates/ag-agent/src/agent/prompt.rs
  crates/ag-agent/src/agent/replay.rs
  crates/ag-agent/src/agent/submission.rs
  crates/ag-agent/src/agent/template/resume_with_transcript_prompt.md
  crates/ag-agent/src/app_server/retry.rs
  crates/ag-agent/src/channel/app_server.rs
  crates/ag-agent/src/channel/cli.rs
  crates/ag-orchestration/src/coordinator.rs
  crates/ag-orchestration/src/template/orchestration_child_prompt.md
  crates/ag-protocol/src/envelope.rs
  crates/ag-protocol/src/lib.rs
  crates/ag-protocol/src/template/protocol_instruction_policy_prompt.md
  crates/ag-protocol/src/template/protocol_instruction_prompt.md
  crates/ag-protocol/src/template/protocol_instruction_session_turn_usage.md
  crates/ag-protocol/src/template/protocol_repair_prompt.md
  crates/agentty/src/app/core/new.rs
  crates/agentty/src/app/core/state_test.rs
  crates/agentty/src/app/session/core_test.rs
  crates/agentty/src/infra/fs.rs
  crates/agentty/tests/e2e/session.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Keep session creation responsive and recoverable
  crates/ag-store/migrations/079_add_session_preparation.sql
  crates/ag-store/src/lib.rs
  crates/ag-store/src/session.rs
  crates/ag-store/src/session_message.rs
  crates/ag-store/src/session_preparation.rs
  crates/ag-store/src/session_snapshot.rs
  crates/agentty/src/app/core/new.rs
  crates/agentty/src/app/core/state.rs
  crates/agentty/src/app/core/state_test.rs
  crates/agentty/src/app/prompt_intent.rs
  crates/agentty/src/app/session/core_test.rs
  crates/agentty/src/app/session/state.rs
  crates/agentty/src/app/session/workflow.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/load.rs
  crates/agentty/src/app/session/workflow/preparation.rs
  crates/agentty/src/app/session/workflow/turn.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/app/session_api.rs
  crates/agentty/src/app/session_creation.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/domain/transient_message.rs
  crates/agentty/src/runtime/key_handler.rs
  crates/agentty/src/runtime/mode/prompt.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/test_support.rs
  crates/agentty/tests/e2e/session.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
  docs/site/static/features/.session_creation.hash
  docs/site/static/features/.session_prompt_chat_focus.hash
  docs/site/static/features/session_creation.gif
  docs/site/static/features/session_creation.png
  docs/site/static/features/session_prompt_chat_focus.gif
  docs/site/static/features/session_prompt_chat_focus.png
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

Repository read handling uses focused modules
  crates/ag-harness/src/read.rs
  crates/ag-harness/src/read/command.rs
  crates/ag-harness/src/read/file.rs
  crates/ag-harness/src/read/inspection.rs
  crates/ag-harness/src/read/output.rs
  crates/ag-harness/src/read/runtime.rs
  crates/ag-harness/src/read/tests.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Keep session creation responsive and recoverable (#581)
  crates/ag-store/migrations/079_add_session_preparation.sql
  crates/ag-store/src/lib.rs
  crates/ag-store/src/session.rs
  crates/ag-store/src/session_message.rs
  crates/ag-store/src/session_preparation.rs
  crates/ag-store/src/session_snapshot.rs
  crates/agentty/src/app/core/new.rs
  crates/agentty/src/app/core/state.rs
  crates/agentty/src/app/core/state_test.rs
  crates/agentty/src/app/prompt_intent.rs
  crates/agentty/src/app/session/core_test.rs
  crates/agentty/src/app/session/state.rs
  crates/agentty/src/app/session/workflow.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/load.rs
  crates/agentty/src/app/session/workflow/preparation.rs
  crates/agentty/src/app/session/workflow/turn.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/app/session_api.rs
  crates/agentty/src/app/session_creation.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/domain/transient_message.rs
  crates/agentty/src/runtime/key_handler.rs
  crates/agentty/src/runtime/mode/prompt.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/test_support.rs
  crates/agentty/tests/e2e/session.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
  docs/site/static/features/.session_creation.hash
  docs/site/static/features/.session_prompt_chat_focus.hash
  docs/site/static/features/session_creation.gif
  docs/site/static/features/session_creation.png
  docs/site/static/features/session_prompt_chat_focus.gif
  docs/site/static/features/session_prompt_chat_focus.png
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

Repository read handling uses focused modules (#584)
  crates/ag-harness/src/read.rs
  crates/ag-harness/src/read/command.rs
  crates/ag-harness/src/read/file.rs
  crates/ag-harness/src/read/inspection.rs
  crates/ag-harness/src/read/output.rs
  crates/ag-harness/src/read/runtime.rs
  crates/ag-harness/src/read/tests.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Harness CLI defaults to Git from PATH
  crates/ag-harness-cli/README.md
  crates/ag-harness-cli/src/main.rs
  crates/ag-harness-cli/tests/cli.rs
  docs/site/content/docs/architecture/ag-harness-design.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Support repository file lookup in question answers
  crates/agentty/src/app/core/events.rs
  crates/agentty/src/runtime/mode/at_mention.rs
  crates/agentty/src/runtime/mode/prompt.rs
  crates/agentty/src/runtime/mode/question.rs
  crates/agentty/src/ui/layout.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/question_format.rs
  crates/agentty/tests/e2e/session.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Path conditions:
  mdformat: any of: \.(md|markdown)$
  djlint-reformat: any of: \.html?$
  rustfmt: any of: \.rs$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
  cargo-shear: any of: \.rs$
  check-migrations: any of: \.sql$
