Repository opencloudtool/agentty: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, djlint-reformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        description: Format Markdown files.
        entry: mdformat
        language: python
        additional_dependencies: [mdformat==0.7.22]
        files: \.(md|markdown)$
      - id: djlint-reformat
        name: djlint reformat
        description: Format HTML files.
        entry: djlint --reformat
        language: python
        additional_dependencies: [djlint==1.36.4]
        files: \.html?$
      - id: rustfmt-fix
        name: rustfmt fix
        description: Format the code with rustfmt.
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
      - id: clippy-fix
        name: clippy fix
        description: Auto-fix clippy lints where possible.
        entry: cargo clippy --fix --allow-dirty --allow-staged -q --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
      - id: rustfmt
        name: rustfmt check
        description: Verify code formatting with rustfmt.
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check the package for errors.
        entry: cargo check -q --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false
      - id: clippy
        name: clippy
        description: Lint the code and fail on any warnings.
        entry: cargo clippy -q --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-shear
        name: cargo-shear
        description: Check for unused dependencies.
        entry: cargo shear
        language: system
        types: [rust]
        pass_filenames: false
      - id: check-indexes
        name: check indexes
        description: Verifies that all AGENTS.md files have an up-to-date Directory Index.
        entry: cargo run -q -p ag-xtask -- check-indexes
        language: system
        pass_filenames: false
      - id: check-migrations
        name: check migrations
        description: Verifies that migration files have unique prefix numbers.
        entry: cargo run -q -p ag-xtask -- check-migrations
        language: system
        types: [sql]
        pass_filenames: false

Skip duplicate automatic focused reviews
  crates/ag-store/.sqlx/query-4b8a85a02575d7436ac1f3463495b9046705e8b415b6c1bce57c57ba01cabea9.json
  crates/ag-store/.sqlx/query-ba34391008fddb1ca3515850a1896758677aba268300798ec364bce790a2505a.json
  crates/ag-store/migrations/080_add_session_review_diff_hash.sql
  crates/ag-store/src/connection_test.rs
  crates/ag-store/src/session.rs
  crates/agentty/src/app/core/new.rs
  crates/agentty/src/app/core/state.rs
  crates/agentty/src/app/session_diff.rs
  crates/agentty/tests/e2e/session.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

Support file lookup in question answers (#583)
  crates/agentty/src/app/core/events.rs
  crates/agentty/src/runtime/mode/at_mention.rs
  crates/agentty/src/runtime/mode/prompt.rs
  crates/agentty/src/runtime/mode/question.rs
  crates/agentty/src/ui/layout.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/question_format.rs
  crates/agentty/tests/e2e/session.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Defaults harness CLI to Git from PATH (#582)
  crates/ag-harness-cli/README.md
  crates/ag-harness-cli/src/main.rs
  crates/ag-harness-cli/tests/cli.rs
  docs/site/content/docs/architecture/ag-harness-design.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Skip duplicate automatic focused reviews (#585)
  crates/ag-store/.sqlx/query-4b8a85a02575d7436ac1f3463495b9046705e8b415b6c1bce57c57ba01cabea9.json
  crates/ag-store/.sqlx/query-ba34391008fddb1ca3515850a1896758677aba268300798ec364bce790a2505a.json
  crates/ag-store/migrations/080_add_session_review_diff_hash.sql
  crates/ag-store/src/connection_test.rs
  crates/ag-store/src/session.rs
  crates/agentty/src/app/core/new.rs
  crates/agentty/src/app/core/state.rs
  crates/agentty/src/app/session_diff.rs
  crates/agentty/tests/e2e/session.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

Ships version 0.15.12
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Ships version 0.15.12 (#587)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Diff comments support file lookup
  crates/agentty/src/app/core/events.rs
  crates/agentty/src/presentation/app_mode.rs
  crates/agentty/src/presentation/prompt.rs
  crates/agentty/src/runtime/mode/diff.rs
  crates/agentty/src/ui/page/diff.rs
  crates/agentty/tests/e2e/session.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Diff comments support file lookup (#588)
  crates/agentty/src/app/core/events.rs
  crates/agentty/src/presentation/app_mode.rs
  crates/agentty/src/presentation/prompt.rs
  crates/agentty/src/runtime/mode/diff.rs
  crates/agentty/src/ui/page/diff.rs
  crates/agentty/tests/e2e/session.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Prevent concurrent Agentty instances
  README.md
  crates/agentty/src/infra/db.rs
  crates/agentty/src/main.rs
  crates/agentty/tests/e2e/navigation.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/getting-started/installation.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Ships version 0.15.13
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Keep workspace preparation quiet until prompt submission
  crates/agentty/src/app/session/workflow/load.rs
  crates/agentty/src/ui/session_output_assembly.rs
  crates/agentty/tests/e2e/session.rs
  docs/site/content/docs/usage/workflow.md
  docs/site/static/features/.session_creation.hash
  docs/site/static/features/.session_prompt_chat_focus.hash
  docs/site/static/features/session_creation.gif
  docs/site/static/features/session_creation.png
  docs/site/static/features/session_prompt_chat_focus.gif
  docs/site/static/features/session_prompt_chat_focus.png
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Ships version 0.15.13 (#591)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Prevent concurrent Agentty instances (#589)
  README.md
  crates/agentty/src/infra/db.rs
  crates/agentty/src/main.rs
  crates/agentty/tests/e2e/navigation.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/getting-started/installation.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Workspace preparation stays quiet during initial composition (#590)
  crates/agentty/src/app/session/workflow/load.rs
  crates/agentty/src/ui/session_output_assembly.rs
  crates/agentty/tests/e2e/session.rs
  docs/site/content/docs/usage/workflow.md
  docs/site/static/features/.session_creation.hash
  docs/site/static/features/.session_prompt_chat_focus.hash
  docs/site/static/features/session_creation.gif
  docs/site/static/features/session_creation.png
  docs/site/static/features/session_prompt_chat_focus.gif
  docs/site/static/features/session_prompt_chat_focus.png
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Custom GitHub Actions use `$/` references
  .github/actions/run-coverage/action.yml
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
  .github/workflows/release-checks.yml
  .github/workflows/release.yml
  .github/workflows/workspace-validation.yml
  dist-workspace.toml
Due: none

Custom GitHub Actions use `$/` references (#592)
  .github/actions/run-coverage/action.yml
  .github/workflows/postsubmit.yml
  .github/workflows/presubmit.yml
  .github/workflows/release-checks.yml
  .github/workflows/release.yml
  .github/workflows/workspace-validation.yml
  dist-workspace.toml
Due: none

Allow recovery of missing rebase worktrees
  crates/ag-git/src/client.rs
  crates/ag-git/src/rebase.rs
  crates/agentty/src/app/session/workflow/worker.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Allow recovery of missing rebase worktrees (#593)
  crates/ag-git/src/client.rs
  crates/ag-git/src/rebase.rs
  crates/agentty/src/app/session/workflow/worker.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Release version 0.15.14
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Separate production and test code
  .pre-commit-config.yaml
  crates/AGENTS.md
  crates/ag-tui-text/src/html.rs
  crates/ag-tui-text/src/html_test.rs
  crates/ag-tui-text/src/markdown.rs
  crates/ag-tui-text/src/markdown_test.rs
  crates/ag-tui-text/src/mermaid.rs
  crates/ag-tui-text/src/mermaid_test.rs
  crates/ag-tui-text/src/style.rs
  crates/ag-tui-text/src/style_test.rs
  crates/ag-tui-text/src/text_util.rs
  crates/ag-tui-text/src/text_util_test.rs
  crates/ag-xtask/src/check_migration.rs
  crates/ag-xtask/src/check_migration_test.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Release version 0.15.14 (#594)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Separate production and test code (#595)
  .pre-commit-config.yaml
  crates/AGENTS.md
  crates/ag-tui-text/src/html.rs
  crates/ag-tui-text/src/html_test.rs
  crates/ag-tui-text/src/markdown.rs
  crates/ag-tui-text/src/markdown_test.rs
  crates/ag-tui-text/src/mermaid.rs
  crates/ag-tui-text/src/mermaid_test.rs
  crates/ag-tui-text/src/style.rs
  crates/ag-tui-text/src/style_test.rs
  crates/ag-tui-text/src/text_util.rs
  crates/ag-tui-text/src/text_util_test.rs
  crates/ag-xtask/src/check_migration.rs
  crates/ag-xtask/src/check_migration_test.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Organize session E2E tests by behavior
  crates/agentty/tests/e2e/session.rs
  crates/agentty/tests/e2e/session/diff.rs
  crates/agentty/tests/e2e/session/fixture.rs
  crates/agentty/tests/e2e/session/lifecycle.rs
  crates/agentty/tests/e2e/session/model.rs
  crates/agentty/tests/e2e/session/orchestration.rs
  crates/agentty/tests/e2e/session/output.rs
  crates/agentty/tests/e2e/session/prompt.rs
  crates/agentty/tests/e2e/session/provider.rs
  crates/agentty/tests/e2e/session/question.rs
  crates/agentty/tests/e2e/session/queue.rs
  crates/agentty/tests/e2e/session/resource.rs
  crates/agentty/tests/e2e/session/review.rs
  crates/agentty/tests/e2e/session/review_comment.rs
  crates/agentty/tests/e2e/session/review_request.rs
  crates/agentty/tests/e2e/session/setting.rs
  crates/agentty/tests/e2e/session/stack.rs
  crates/agentty/tests/e2e/session/sync.rs
  crates/agentty/tests/e2e/session/worktree.rs
  skills/feature-test/SKILL.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Organize session E2E tests by behavior (#596)
  crates/agentty/tests/e2e/session.rs
  crates/agentty/tests/e2e/session/diff.rs
  crates/agentty/tests/e2e/session/fixture.rs
  crates/agentty/tests/e2e/session/lifecycle.rs
  crates/agentty/tests/e2e/session/model.rs
  crates/agentty/tests/e2e/session/orchestration.rs
  crates/agentty/tests/e2e/session/output.rs
  crates/agentty/tests/e2e/session/prompt.rs
  crates/agentty/tests/e2e/session/provider.rs
  crates/agentty/tests/e2e/session/question.rs
  crates/agentty/tests/e2e/session/queue.rs
  crates/agentty/tests/e2e/session/resource.rs
  crates/agentty/tests/e2e/session/review.rs
  crates/agentty/tests/e2e/session/review_comment.rs
  crates/agentty/tests/e2e/session/review_request.rs
  crates/agentty/tests/e2e/session/setting.rs
  crates/agentty/tests/e2e/session/stack.rs
  crates/agentty/tests/e2e/session/sync.rs
  crates/agentty/tests/e2e/session/worktree.rs
  skills/feature-test/SKILL.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Each harness shares one database pool across durable sessions
  crates/ag-harness/src/harness.rs
  crates/ag-harness/src/lifecycle.rs
  crates/ag-harness/src/telemetry.rs
  crates/ag-harness/src/trace.rs
  crates/ag-harness/src/turn.rs
  crates/ag-harness/tests/lifecycle.rs
  docs/site/content/docs/architecture/ag-harness-design.md
  docs/site/content/docs/architecture/module-map.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Supports configurable model reasoning effort
  crates/ag-harness-cli/README.md
  crates/ag-harness-cli/src/main.rs
  crates/ag-harness-cli/tests/cli.rs
  crates/ag-harness/src/chat_completion.rs
  crates/ag-harness/src/harness.rs
  crates/ag-harness/src/lib.rs
  crates/ag-harness/src/model.rs
  crates/ag-harness/src/provider.rs
  crates/ag-harness/src/provider/kimi.rs
  crates/ag-harness/src/provider/muse.rs
  crates/ag-harness/src/provider/qwen.rs
  crates/ag-harness/src/session.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Supports configurable model reasoning effort (#578)
  crates/ag-harness-cli/README.md
  crates/ag-harness-cli/src/main.rs
  crates/ag-harness-cli/tests/cli.rs
  crates/ag-harness/src/chat_completion.rs
  crates/ag-harness/src/harness.rs
  crates/ag-harness/src/lib.rs
  crates/ag-harness/src/model.rs
  crates/ag-harness/src/provider.rs
  crates/ag-harness/src/provider/kimi.rs
  crates/ag-harness/src/provider/muse.rs
  crates/ag-harness/src/provider/qwen.rs
  crates/ag-harness/src/session.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Each harness shares one database pool across durable sessions (#598)
  crates/ag-harness/src/harness.rs
  crates/ag-harness/src/lifecycle.rs
  crates/ag-harness/src/telemetry.rs
  crates/ag-harness/src/trace.rs
  crates/ag-harness/src/turn.rs
  crates/ag-harness/tests/lifecycle.rs
  docs/site/content/docs/architecture/ag-harness-design.md
  docs/site/content/docs/architecture/module-map.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Session writes survive failed turns
  Cargo.lock
  Cargo.toml
  crates/ag-harness/.sqlx/query-3de16657ffc446a31b8e99d9fd4cbe152e63bf63582071e8179072e1f9fb6224.json
  crates/ag-harness/.sqlx/query-5a154ac017113f4c791411e37f59be4fd13a11263ab7a0c8c95770648b511d29.json
  crates/ag-harness/.sqlx/query-98bf66b49b25d60ca0858d509c5b9a56040b099c71e22a5e0db02f8b11d8e3fc.json
  crates/ag-harness/.sqlx/query-c3af8307294e34b70771b0cbd4d46a06019fe8fc1a8fa8d930032ed79226dcb9.json
  crates/ag-harness/Cargo.toml
  crates/ag-harness/README.md
  crates/ag-harness/migrations/004_add_session_write.sql
  crates/ag-harness/migrations/005_update_session_write_diagnostics.sql
  crates/ag-harness/src/harness.rs
  crates/ag-harness/src/harness_test.rs
  crates/ag-harness/src/harness_test/lease_test.rs
  crates/ag-harness/src/harness_test/lifecycle_test.rs
  crates/ag-harness/src/harness_test/policy_test.rs
  crates/ag-harness/src/harness_test/read_test.rs
  crates/ag-harness/src/harness_test/recovery_test.rs
  crates/ag-harness/src/harness_test/session_test.rs
  crates/ag-harness/src/harness_test/support_test.rs
  crates/ag-harness/src/harness_test/write_test.rs
  crates/ag-harness/src/lib.rs
  crates/ag-harness/src/session.rs
  crates/ag-harness/src/write.rs
  crates/ag-harness/src/write_journal.rs
  crates/ag-harness/src/write_journal_test.rs
  crates/ag-harness/tests/public_api.rs
  docs/site/content/docs/architecture/ag-harness-design.md
  docs/site/content/docs/architecture/module-map.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations
