Repository opencloudtool/agentty: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, djlint-reformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        description: Format Markdown files.
        entry: mdformat
        language: python
        additional_dependencies: [mdformat==0.7.22]
        files: \.(md|markdown)$
      - id: djlint-reformat
        name: djlint reformat
        description: Format HTML files.
        entry: djlint --reformat
        language: python
        additional_dependencies: [djlint==1.36.4]
        files: \.html?$
      - id: rustfmt-fix
        name: rustfmt fix
        description: Format the code with rustfmt.
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
      - id: clippy-fix
        name: clippy fix
        description: Auto-fix clippy lints where possible.
        entry: cargo clippy --fix --allow-dirty --allow-staged -q --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
      - id: rustfmt
        name: rustfmt check
        description: Verify code formatting with rustfmt.
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check the package for errors.
        entry: cargo check -q --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false
      - id: clippy
        name: clippy
        description: Lint the code and fail on any warnings.
        entry: cargo clippy -q --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-shear
        name: cargo-shear
        description: Check for unused dependencies.
        entry: cargo shear
        language: system
        types: [rust]
        pass_filenames: false
      - id: check-indexes
        name: check indexes
        description: Verifies that all AGENTS.md files have an up-to-date Directory Index.
        entry: cargo run -q -p ag-xtask -- check-indexes
        language: system
        pass_filenames: false
      - id: check-migrations
        name: check migrations
        description: Verifies that migration files have unique prefix numbers.
        entry: cargo run -q -p ag-xtask -- check-migrations
        language: system
        types: [sql]
        pass_filenames: false

Remove protocol request instructions plan
  docs/plan/AGENTS.md
  docs/plan/protocol_request_instructions.md
Due: mdformat

Parameterize runtime over generic `Backend` for in-process TUI testing
  crates/agentty/src/app/session/workflow/merge.rs
  crates/agentty/src/runtime.rs
  crates/agentty/src/runtime/core.rs
  crates/agentty/src/runtime/event.rs
  crates/agentty/src/runtime/key_handler.rs
  crates/agentty/src/runtime/mode/prompt.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/diff_util.rs
  docs/plan/tui_e2e_testing_framework.md
  docs/site/content/docs/architecture/testability-boundaries.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Preserve commit text in focused review comments
  crates/agentty/src/ui/diff_util.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Use top-level answer and questions in agent responses
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/merge.rs
  crates/agentty/src/app/session/workflow/task.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/infra/agent/backend.rs
  crates/agentty/src/infra/agent/protocol.rs
  crates/agentty/src/infra/agent/response_parser.rs
  crates/agentty/src/infra/agent/submission.rs
  crates/agentty/src/infra/channel/app_server.rs
  crates/agentty/src/infra/channel/cli.rs
  crates/agentty/src/infra/codex_app_server.rs
  crates/agentty/src/infra/db.rs
  crates/agentty/src/ui/diff_util.rs
  docs/site/content/docs/agents/backends.md
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Focused review comment limit matches implementation
  crates/agentty/src/ui/diff_util.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Append change summaries and preserve summary payloads
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/infra/agent/protocol.rs
  crates/agentty/src/infra/channel/app_server.rs
  crates/agentty/src/infra/channel/cli.rs
  crates/agentty/src/infra/codex_app_server.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Add security-audit analysis skill
  AGENTS.md
  docs/plan/meta_agent_prompt_templates.md
  skills/AGENTS.md
  skills/security-audit/AGENTS.md
  skills/security-audit/CLAUDE.md
  skills/security-audit/GEMINI.md
  skills/security-audit/SKILL.md
Due: mdformat

Remove completed meta-agent skills plan
  docs/plan/AGENTS.md
  docs/plan/meta_agent_prompt_templates.md
Due: mdformat

Refactor agent prompt preparation and split protocol subsystem
  crates/agentty/src/app/session/workflow/task.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/infra/agent.rs
  crates/agentty/src/infra/agent/AGENTS.md
  crates/agentty/src/infra/agent/backend.rs
  crates/agentty/src/infra/agent/claude.rs
  crates/agentty/src/infra/agent/codex.rs
  crates/agentty/src/infra/agent/gemini.rs
  crates/agentty/src/infra/agent/prompt.rs
  crates/agentty/src/infra/agent/protocol.rs
  crates/agentty/src/infra/agent/protocol/AGENTS.md
  crates/agentty/src/infra/agent/protocol/CLAUDE.md
  crates/agentty/src/infra/agent/protocol/GEMINI.md
  crates/agentty/src/infra/agent/protocol/model.rs
  crates/agentty/src/infra/agent/protocol/parse.rs
  crates/agentty/src/infra/agent/protocol/schema.rs
  crates/agentty/src/infra/agent/submission.rs
  crates/agentty/src/infra/agent/template/auto_commit_assist_prompt.md
  crates/agentty/src/infra/agent/template/protocol_instruction_prompt.md
  crates/agentty/src/infra/agent/template/session_commit_message_prompt.md
  crates/agentty/src/infra/app_server.rs
  crates/agentty/src/infra/channel/app_server.rs
  crates/agentty/src/infra/channel/cli.rs
  docs/site/content/docs/agents/backends.md
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/runtime-flow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Move app-server client selection into agent backends
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/service.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/refresh.rs
  crates/agentty/src/app/session/workflow/task.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/app/setting.rs
  crates/agentty/src/infra/agent.rs
  crates/agentty/src/infra/agent/backend.rs
  crates/agentty/src/infra/agent/claude.rs
  crates/agentty/src/infra/agent/codex.rs
  crates/agentty/src/infra/agent/gemini.rs
  crates/agentty/src/infra/agent/submission.rs
  crates/agentty/src/infra/channel/cli.rs
  crates/agentty/src/infra/channel/factory.rs
  crates/agentty/src/main.rs
  crates/agentty/src/runtime/core.rs
  crates/agentty/src/runtime/event.rs
  crates/agentty/src/runtime/key_handler.rs
  crates/agentty/src/runtime/mode/diff.rs
  crates/agentty/src/runtime/mode/help.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/src/runtime/mode/prompt.rs
  crates/agentty/src/runtime/mode/question.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/runtime/mode/sync_blocked.rs
  crates/agentty/tests/protocol_compliance_e2e.rs
  docs/site/content/docs/agents/backends.md
  docs/site/content/docs/architecture/change-recipes.md
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/architecture/testability-boundaries.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Stream Claude responses with live schema-validated events
  crates/agentty/src/infra/agent/claude.rs
  crates/agentty/src/infra/agent/response_parser.rs
  docs/site/content/docs/agents/backends.md
  docs/site/content/docs/architecture/runtime-flow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Release v0.6.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Add AGENTS.md files for app-server, CLI, and shared modules and create tech debt error handling plan
  crates/agentty/src/infra/agent/app_server/codex/AGENTS.md
  crates/agentty/src/infra/agent/app_server/codex/CLAUDE.md
  crates/agentty/src/infra/agent/app_server/codex/GEMINI.md
  crates/agentty/src/infra/agent/app_server/gemini/AGENTS.md
  crates/agentty/src/infra/agent/app_server/gemini/CLAUDE.md
  crates/agentty/src/infra/agent/app_server/gemini/GEMINI.md
  crates/agentty/src/infra/agent/cli/AGENTS.md
  crates/agentty/src/infra/agent/cli/CLAUDE.md
  crates/agentty/src/infra/agent/cli/GEMINI.md
  crates/agentty/src/infra/app_server/AGENTS.md
  crates/agentty/src/infra/app_server/CLAUDE.md
  crates/agentty/src/infra/app_server/GEMINI.md
  docs/plan/AGENTS.md
  docs/plan/tech_debt_error_handling.md
Due: mdformat

Publish session branches with force-with-lease
  crates/agentty/src/infra/git/client.rs
  crates/agentty/src/infra/git/sync.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Update agent test expectations
  crates/agentty/src/app/session/workflow/task.rs
  crates/agentty/src/infra/agent/submission.rs
  crates/agentty/src/infra/channel/cli.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Extract shared input key utilities and add emacs-style editing to question input
  crates/agentty/src/runtime/mode.rs
  crates/agentty/src/runtime/mode/AGENTS.md
  crates/agentty/src/runtime/mode/input_key.rs
  crates/agentty/src/runtime/mode/prompt.rs
  crates/agentty/src/runtime/mode/question.rs
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/usage/keybindings.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Add VHS-based E2E testing framework with screenshot comparison
  .gitignore
  Cargo.toml
  crates/AGENTS.md
  crates/agentty/src/app/session/workflow/task.rs
  crates/agentty/src/infra/agent/app_server/codex/AGENTS.md
  crates/agentty/src/infra/agent/app_server/gemini/AGENTS.md
  crates/agentty/src/infra/agent/cli/AGENTS.md
  crates/agentty/src/infra/app_server/AGENTS.md
  crates/agentty/src/ui/component/session_output.rs
  crates/agentty/tests/AGENTS.md
  crates/agentty/tests/e2e.rs
  crates/agentty/tests/e2e_screenshots/AGENTS.md
  crates/agentty/tests/e2e_screenshots/CLAUDE.md
  crates/agentty/tests/e2e_screenshots/GEMINI.md
  crates/agentty/tests/e2e_screenshots/startup_projects_tab.png
  crates/agentty/tests/e2e_support/AGENTS.md
  crates/agentty/tests/e2e_support/CLAUDE.md
  crates/agentty/tests/e2e_support/GEMINI.md
  crates/agentty/tests/e2e_support/harness.rs
  crates/agentty/tests/e2e_support/mod.rs
  docs/plan/AGENTS.md
  docs/plan/tui_e2e_testing_framework.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Keep publish branch shortcut keys in the input field
  crates/agentty/src/runtime/key_handler.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Keep prompt file index unbounded within max depth
  crates/agentty/src/infra/file_index.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Release v0.6.6
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Clarify that agents do not create commits automatically
  crates/agentty/src/infra/agent/prompt.rs
  crates/agentty/src/infra/agent/template/protocol_instruction_prompt.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Limit home-directory project scans to startup
  crates/agentty/src/app/core.rs
  docs/site/content/docs/architecture/runtime-flow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Accept protocol payloads with wire-type defaults
  crates/agentty/src/infra/agent/protocol/parse.rs
  docs/site/content/docs/agents/backends.md
  docs/site/content/docs/architecture/runtime-flow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Require strict protocol JSON for all agent responses
  crates/agentty/src/app/task.rs
  crates/agentty/src/infra/agent/backend.rs
  crates/agentty/src/infra/agent/protocol.rs
  crates/agentty/src/infra/agent/protocol/model.rs
  crates/agentty/src/infra/agent/protocol/parse.rs
  crates/agentty/src/infra/agent/provider.rs
  crates/agentty/src/infra/agent/submission.rs
  docs/site/content/docs/agents/backends.md
  docs/site/content/docs/architecture/runtime-flow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Optimize session activity and refresh queries
  crates/agentty/.sqlx/AGENTS.md
  crates/agentty/.sqlx/query-4a70667663d0b0eb4f7479d3f7d055a856b881683653a9b2244b24a8ea1c6e99.json
  crates/agentty/.sqlx/query-4fddbf8478a319b05505c33cba1944abe81d0ffc2a91a37f6966b57f730eb6d1.json
  crates/agentty/.sqlx/query-5518f001b631773f946cb7bbb0a4ff9c0ba92ee5deed4959ac9fe7f693cb6de8.json
  crates/agentty/.sqlx/query-d9d7ba4c1604df034b5bb706e76c80b6bce2cc4b71cb7f456cde51710568b37c.json
  crates/agentty/migrations/032_add_session_indexes.sql
  crates/agentty/migrations/AGENTS.md
  crates/agentty/src/app/session/workflow/load.rs
  crates/agentty/src/infra/db.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

Support keyboard enhancement flags in terminal runtime
  crates/agentty/src/infra/agent/prompt.rs
  crates/agentty/src/runtime/core.rs
  crates/agentty/src/runtime/event.rs
  crates/agentty/src/runtime/terminal.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Add session follow-up task implementation plan
  docs/plan/AGENTS.md
  docs/plan/session_follow_up_tasks.md
Due: mdformat

Track published session branch git statuses across refreshes
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/refresh.rs
  crates/agentty/src/app/session_state.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/infra/git.rs
  crates/agentty/src/infra/git/client.rs
  crates/agentty/src/infra/git/sync.rs
  crates/agentty/src/ui/render.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Clarify read-only git command guidance in agent prompts
  crates/agentty/src/infra/agent/prompt.rs
  crates/agentty/src/infra/agent/template/protocol_instruction_prompt.md
  docs/site/content/docs/agents/backends.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Refine Rust-native TUI E2E framework plan
  docs/plan/AGENTS.md
  docs/plan/tui_e2e_testing_framework.md
Due: mdformat

Recover trailing protocol payload from wrapped provider output
  crates/agentty/src/infra/agent/protocol/parse.rs
  crates/agentty/src/infra/agent/submission.rs
  crates/agentty/src/infra/channel/cli.rs
  docs/site/content/docs/agents/backends.md
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/runtime-flow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Migrate git infrastructure module from `Result<..., String>` to typed `GitError`
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/merge.rs
  crates/agentty/src/app/session/workflow/task.rs
  crates/agentty/src/infra/git.rs
  crates/agentty/src/infra/git/AGENTS.md
  crates/agentty/src/infra/git/client.rs
  crates/agentty/src/infra/git/error.rs
  crates/agentty/src/infra/git/merge.rs
  crates/agentty/src/infra/git/rebase.rs
  crates/agentty/src/infra/git/sync.rs
  docs/plan/tech_debt_error_handling.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Add `s` keybinding to sync review request status in session view
  crates/agentty/src/AGENTS.md
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/refresh.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/infra/db.rs
  crates/agentty/src/runtime/mode/help.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/overlay.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/state/app_mode.rs
  crates/agentty/src/ui/state/help_action.rs
  docs/plan/AGENTS.md
  docs/plan/CLAUDE.md
  docs/plan/sync_review_request.md
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Improve protocol parse diagnostics
  crates/agentty/src/infra/agent/protocol.rs
  crates/agentty/src/infra/agent/protocol/model.rs
  crates/agentty/src/infra/agent/protocol/parse.rs
  crates/agentty/src/infra/agent/provider.rs
  crates/agentty/src/infra/agent/submission.rs
  docs/site/content/docs/agents/backends.md
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/runtime-flow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Release v0.6.9
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/agentty/src/infra/agent/submission.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Rename `ag-tui-test` crate to `testty`
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  crates/AGENTS.md
  crates/agentty/Cargo.toml
  crates/agentty/tests/AGENTS.md
  crates/agentty/tests/e2e.rs
  crates/testty/AGENTS.md
  crates/testty/CLAUDE.md
  crates/testty/Cargo.toml
  crates/testty/GEMINI.md
  crates/testty/README.md
  crates/testty/src/AGENTS.md
  crates/testty/src/CLAUDE.md
  crates/testty/src/GEMINI.md
  crates/testty/src/artifact.rs
  crates/testty/src/assertion.rs
  crates/testty/src/calibration.rs
  crates/testty/src/frame.rs
  crates/testty/src/lib.rs
  crates/testty/src/locator.rs
  crates/testty/src/overlay.rs
  crates/testty/src/recipe.rs
  crates/testty/src/region.rs
  crates/testty/src/scenario.rs
  crates/testty/src/session.rs
  crates/testty/src/snapshot.rs
  crates/testty/src/step.rs
  crates/testty/src/vhs.rs
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/testability-boundaries.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Reorder roadmap steps by stream
  docs/plan/roadmap.md
Due: mdformat

Remove roadmap out-of-scope sections
  docs/plan/roadmap.md
  skills/implementation-plan/SKILL.md
Due: mdformat

Update `end_turn_no_answer` to sync handle status to `Review`
  crates/agentty/src/runtime/mode/question.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Refocus roadmap on follow-up tasks, timing, and local coverage
  docs/plan/roadmap.md
Due: mdformat
