Repository opencloudtool/agentty: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, djlint-reformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        description: Format Markdown files.
        entry: mdformat
        language: python
        additional_dependencies: [mdformat==0.7.22]
        files: \.(md|markdown)$
      - id: djlint-reformat
        name: djlint reformat
        description: Format HTML files.
        entry: djlint --reformat
        language: python
        additional_dependencies: [djlint==1.36.4]
        files: \.html?$
      - id: rustfmt-fix
        name: rustfmt fix
        description: Format the code with rustfmt.
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
      - id: clippy-fix
        name: clippy fix
        description: Auto-fix clippy lints where possible.
        entry: cargo clippy --fix --allow-dirty --allow-staged -q --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
      - id: rustfmt
        name: rustfmt check
        description: Verify code formatting with rustfmt.
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check the package for errors.
        entry: cargo check -q --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false
      - id: clippy
        name: clippy
        description: Lint the code and fail on any warnings.
        entry: cargo clippy -q --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-shear
        name: cargo-shear
        description: Check for unused dependencies.
        entry: cargo shear
        language: system
        types: [rust]
        pass_filenames: false
      - id: check-indexes
        name: check indexes
        description: Verifies that all AGENTS.md files have an up-to-date Directory Index.
        entry: cargo run -q -p ag-xtask -- check-indexes
        language: system
        pass_filenames: false
      - id: check-migrations
        name: check migrations
        description: Verifies that migration files have unique prefix numbers.
        entry: cargo run -q -p ag-xtask -- check-migrations
        language: system
        types: [sql]
        pass_filenames: false

Remove `#[ignore]` gates from E2E tests
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  crates/agentty/Cargo.toml
  crates/agentty/tests/e2e.rs
  crates/testty/README.md
  crates/testty/src/session.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Require UUID roadmap step headings
  docs/plan/AGENTS.md
  docs/plan/roadmap.md
  skills/implementation-plan/SKILL.md
  skills/implementation-plan/references/add-step.md
  skills/implementation-plan/references/start-step.md
  skills/implementation-plan/references/update-step.md
Due: mdformat

Release v0.6.10
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/site/content/blog/AGENTS.md
  docs/site/content/blog/CLAUDE.md
  docs/site/content/blog/GEMINI.md
  docs/site/templates/blog-page.html
  skills/implementation-plan/references/AGENTS.md
  skills/implementation-plan/references/CLAUDE.md
  skills/implementation-plan/references/GEMINI.md
  skills/implementation-plan/references/add-step.md
  skills/implementation-plan/references/start-step.md
  skills/implementation-plan/references/update-step.md
Due: mdformat, djlint-reformat

Unify git helper error types to return `GitError` directly
  crates/agentty/src/infra/git/client.rs
  crates/agentty/src/infra/git/merge.rs
  crates/agentty/src/infra/git/rebase.rs
  crates/agentty/src/infra/git/repo.rs
  crates/agentty/src/infra/git/sync.rs
  crates/agentty/src/infra/git/worktree.rs
  docs/plan/roadmap.md
  docs/site/content/blog/AGENTS.md
  skills/implementation-plan/references/AGENTS.md
  skills/implementation-plan/references/start-step.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Add `Testty` proof pipeline stream to roadmap
  docs/plan/roadmap.md
Due: mdformat

Replace opaque `String` errors with typed error enums in infra layer
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/merge.rs
  crates/agentty/src/app/session/workflow/refresh.rs
  crates/agentty/src/infra/AGENTS.md
  crates/agentty/src/infra/agent/app_server/codex/client.rs
  crates/agentty/src/infra/agent/app_server/gemini/client.rs
  crates/agentty/src/infra/app_server.rs
  crates/agentty/src/infra/app_server/AGENTS.md
  crates/agentty/src/infra/app_server/contract.rs
  crates/agentty/src/infra/app_server/error.rs
  crates/agentty/src/infra/app_server/prompt.rs
  crates/agentty/src/infra/app_server/registry.rs
  crates/agentty/src/infra/app_server/retry.rs
  crates/agentty/src/infra/app_server_router.rs
  crates/agentty/src/infra/channel/app_server.rs
  crates/agentty/src/infra/fs.rs
  crates/agentty/src/infra/version.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Propagate typed errors through app and session layers and add missing test modules
  crates/agentty/src/app.rs
  crates/agentty/src/app/AGENTS.md
  crates/agentty/src/app/assist.rs
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/error.rs
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/AGENTS.md
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/error.rs
  crates/agentty/src/app/session/workflow/access.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/merge.rs
  crates/agentty/src/app/session/workflow/refresh.rs
  crates/agentty/src/app/session/workflow/task.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/infra/agent/prompt.rs
  crates/agentty/src/infra/app_server/prompt.rs
  crates/agentty/src/infra/app_server/registry.rs
  crates/agentty/src/infra/channel/factory.rs
  crates/agentty/src/infra/git/worktree.rs
  crates/agentty/src/main.rs
  crates/agentty/src/runtime/clipboard_image.rs
  crates/agentty/src/runtime/mode/input_key.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/layout.rs
  crates/agentty/src/ui/style.rs
  docs/plan/roadmap.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Remove generated workspace map entry from `AGENTS.md`
  AGENTS.md
Due: mdformat

Keep unchanged review sessions in view mode
  crates/agentty/src/runtime/mode/session_view.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Add `Testty` proof pipeline with native renderer, frame diffing, journeys, and test tiering
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/testty/AGENTS.md
  crates/testty/Cargo.toml
  crates/testty/README.md
  crates/testty/examples/AGENTS.md
  crates/testty/examples/CLAUDE.md
  crates/testty/examples/GEMINI.md
  crates/testty/examples/frame_diffing.rs
  crates/testty/examples/journey_composition.rs
  crates/testty/examples/proof_pipeline.rs
  crates/testty/src/AGENTS.md
  crates/testty/src/diff.rs
  crates/testty/src/frame.rs
  crates/testty/src/journey.rs
  crates/testty/src/lib.rs
  crates/testty/src/proof.rs
  crates/testty/src/proof/AGENTS.md
  crates/testty/src/proof/CLAUDE.md
  crates/testty/src/proof/GEMINI.md
  crates/testty/src/proof/backend.rs
  crates/testty/src/proof/frame_text.rs
  crates/testty/src/proof/gif.rs
  crates/testty/src/proof/html.rs
  crates/testty/src/proof/report.rs
  crates/testty/src/proof/strip.rs
  crates/testty/src/renderer.rs
  crates/testty/src/scenario.rs
  crates/testty/src/session.rs
  crates/testty/src/step.rs
  crates/testty/src/vhs.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Show working progress in session loader
  crates/agentty/src/ui/component/session_output.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Migrate e2e tests to proof pipeline and remove `check-indexes` pre-commit hook
  .pre-commit-config.yaml
  crates/agentty/tests/e2e.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Persist session follow-up tasks
  crates/agentty/migrations/033_create_session_follow_up_task.sql
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/load.rs
  crates/agentty/src/app/session/workflow/refresh.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/app/session_state.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/infra/agent/app_server/codex/client.rs
  crates/agentty/src/infra/agent/prompt.rs
  crates/agentty/src/infra/agent/protocol/model.rs
  crates/agentty/src/infra/agent/protocol/parse.rs
  crates/agentty/src/infra/agent/protocol/schema.rs
  crates/agentty/src/infra/db.rs
  crates/agentty/src/runtime/event.rs
  crates/agentty/src/runtime/mode/question.rs
  crates/agentty/src/ui/component/session_output.rs
  crates/agentty/src/ui/page/diff.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/page/session_list.rs
  crates/agentty/src/ui/page/stat.rs
  crates/agentty/src/ui/render.rs
  crates/agentty/src/ui/router.rs
  docs/plan/roadmap.md
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/runtime-flow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

Render transcript footer after follow-up tasks
  crates/agentty/src/ui/component/session_output.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/text_util.rs
  crates/agentty/src/ui/util.rs
  docs/site/content/docs/architecture/runtime-flow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Unify prompt suggestion handling
  crates/agentty/src/runtime/mode.rs
  crates/agentty/src/runtime/mode/at_mention.rs
  crates/agentty/src/runtime/mode/prompt.rs
  crates/agentty/src/runtime/mode/question.rs
  crates/agentty/src/ui/component/chat_input.rs
  crates/agentty/src/ui/layout.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/util.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Label follow-up tasks as preview content
  crates/agentty/src/ui/component/session_output.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Match prompt bottom height to prompt panel
  crates/agentty/src/ui/page/session_chat.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Add draft-session staging roadmap entry
  docs/plan/roadmap.md
Due: mdformat

Remove GitLab review request support
  crates/ag-forge/AGENTS.md
  crates/ag-forge/src/client.rs
  crates/ag-forge/src/gitlab.rs
  crates/ag-forge/src/lib.rs
  crates/ag-forge/src/model.rs
  crates/ag-forge/src/remote.rs
  crates/agentty/migrations/035_remove_non_github_review_requests.sql
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/workflow/load.rs
  crates/agentty/src/app/session/workflow/refresh.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/infra/git/repo.rs
  crates/agentty/src/ui/component/info_overlay.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/util.rs
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/architecture/testability-boundaries.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

Park deterministic local session workflow slice
  docs/plan/roadmap.md
Due: mdformat

Claim follow-up task launch step
  docs/plan/roadmap.md
Due: mdformat

Require GitHub login lookup for roadmap claims
  docs/plan/AGENTS.md
  docs/plan/roadmap.md
  skills/implementation-plan/SKILL.md
  skills/implementation-plan/references/claim-step.md
  skills/implementation-plan/references/start-step.md
Due: mdformat

Promote GitHub review request publish to Ready Now
  docs/plan/roadmap.md
Due: mdformat

Promote typed infra errors card to Ready Now with full substep expansion
  docs/plan/roadmap.md
Due: mdformat

Promote staged draft-session launch to Ready Now
  docs/plan/roadmap.md
Due: mdformat

Release v0.6.11
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/agentty/src/runtime/mode/session_view.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Replace string errors with typed error enums across app-server transport and agent channel boundaries
  crates/ag-xtask/src/roadmap.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/infra/agent/app_server/codex/client.rs
  crates/agentty/src/infra/agent/app_server/gemini/client.rs
  crates/agentty/src/infra/app_server/error.rs
  crates/agentty/src/infra/app_server_transport.rs
  crates/agentty/src/infra/channel/app_server.rs
  crates/agentty/src/infra/channel/cli.rs
  crates/agentty/src/infra/channel/contract.rs
  crates/agentty/src/ui/component/session_output.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/tests/protocol_compliance_e2e.rs
  docs/plan/roadmap.md
  docs/site/content/docs/architecture/testability-boundaries.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Promote app-layer typed-error step to Ready Now
  docs/plan/roadmap.md
Due: mdformat

Compare active session git status against base and remote refs
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session_state.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/infra/git.rs
  crates/agentty/src/infra/git/client.rs
  crates/agentty/src/infra/git/sync.rs
  crates/agentty/src/ui/component/footer_bar.rs
  crates/agentty/src/ui/render.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/architecture/testability-boundaries.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Persist session diff stats
  crates/agentty/.sqlx/query-4fa8a126cdf0a80ff8b7db1cad58a8fa669e46703aaec25c958ebca33ef71aed.json
  crates/agentty/.sqlx/query-a1c715c9101fb1c086035c85925525d12185392044491ef35375a7bf0ded2569.json
  crates/agentty/migrations/037_add_line_change_stats_to_session.sql
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/load.rs
  crates/agentty/src/app/session/workflow/task.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/app/session_state.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/infra/agent/response_parser.rs
  crates/agentty/src/infra/agent/submission.rs
  crates/agentty/src/infra/db.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/src/ui/page/diff.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/page/stat.rs
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

Add unit tests for session workflow access, review, agent backend, CLI error formatting, and stdin write helpers
  crates/agentty/src/app/session/workflow/access.rs
  crates/agentty/src/app/session/workflow/review.rs
  crates/agentty/src/infra/agent/backend.rs
  crates/agentty/src/infra/agent/cli/error.rs
  crates/agentty/src/infra/agent/cli/stdin.rs
  docs/plan/roadmap.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Default to the first follow-up task
  crates/agentty/src/ui/component/session_output.rs
  crates/agentty/src/ui/page/session_chat.rs
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Add explicit draft session workflow
  crates/agentty/.sqlx/query-63e27fc193049aa71d0e75b490a094a5099186ea60e85d3e12f2a82e1157fdb7.json
  crates/agentty/.sqlx/query-caebfabc3db964c052fcd9ed046850be7ae44b93e4bf5f24e4b1668d3e403ab1.json
  crates/agentty/migrations/038_add_is_draft_to_session.sql
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/error.rs
  crates/agentty/src/app/session/workflow.rs
  crates/agentty/src/app/session/workflow/access.rs
  crates/agentty/src/app/session/workflow/draft.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/load.rs
  crates/agentty/src/app/session/workflow/refresh.rs
  crates/agentty/src/app/session/workflow/review.rs
  crates/agentty/src/app/session_state.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/infra/channel/contract.rs
  crates/agentty/src/infra/db.rs
  crates/agentty/src/infra/fs.rs
  crates/agentty/src/runtime/event.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/src/runtime/mode/prompt.rs
  crates/agentty/src/runtime/mode/question.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/component/session_output.rs
  crates/agentty/src/ui/page/diff.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/page/session_list.rs
  crates/agentty/src/ui/page/stat.rs
  crates/agentty/src/ui/render.rs
  crates/agentty/src/ui/router.rs
  crates/agentty/src/ui/state/help_action.rs
  docs/plan/roadmap.md
  docs/site/content/docs/getting-started/overview.md
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

Tighten roadmap slice guardrails
  docs/plan/AGENTS.md
  docs/plan/roadmap.md
  skills/implementation-plan/SKILL.md
  skills/implementation-plan/references/add-step.md
  skills/implementation-plan/references/start-step.md
  skills/implementation-plan/references/update-step.md
Due: mdformat

Add roadmap steps for E2E test restructure and queue lifecycle coverage
  docs/plan/roadmap.md
Due: mdformat

Restrict follow-up tasks to code changes
  crates/agentty/src/infra/agent/prompt.rs
  crates/agentty/src/infra/agent/protocol/model.rs
  crates/agentty/src/infra/agent/protocol/schema.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Scope model choices to locally runnable backends
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/service.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/refresh.rs
  crates/agentty/src/app/setting.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/domain/agent.rs
  crates/agentty/src/infra/agent.rs
  crates/agentty/src/infra/agent/availability.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/src/runtime/mode/prompt.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/state/prompt.rs
  docs/plan/roadmap.md
  docs/site/content/docs/agents/backends.md
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/testability-boundaries.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Add protocol bootstrap roadmap slice
  docs/plan/roadmap.md
Due: mdformat

Set roadmap assignee to `@minev-dev`
  docs/plan/roadmap.md
Due: mdformat
