Repository opencloudtool/agentty: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, djlint-reformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

mdformat:
  name: mdformat
  description: Format Markdown files.
  entry: mdformat
  language: python
  additional_dependencies:
  - mdformat==0.7.22

djlint-reformat:
  name: djlint reformat
  description: Format HTML files.
  entry: djlint --reformat
  language: python
  additional_dependencies:
  - djlint==1.36.4

rustfmt:
  name: rustfmt check
  description: Verify code formatting with rustfmt.
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check the package for errors.
  entry: cargo check -q --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  description: Lint the code and fail on any warnings.
  entry: cargo clippy -q --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-shear:
  name: cargo-shear
  description: Check for unused dependencies.
  entry: cargo shear
  language: system
  pass_filenames: false

check-migrations:
  name: check migrations
  description: Verifies that migration files have unique prefix numbers.
  entry: cargo run -q -p ag-xtask -- check-migrations
  language: system
  pass_filenames: false

Rename showcase section to features with per-feature GIF demos
  .pre-commit-config.yaml
  crates/agentty/tests/showcase.rs
  docs/site/content/features/_index.md
  docs/site/sass/site.scss
  docs/site/static/features/.gitignore
  docs/site/static/features/sessions.gif
  docs/site/static/features/tab_tour.gif
  docs/site/templates/features.html
  docs/site/templates/index.html
Due: mdformat, djlint-reformat, rustfmt, cargo-check, clippy, cargo-shear

Add canonical roadmap TOML planning card
  docs/plan/roadmap.md
Due: mdformat

Use project setting names for auto-commit models
  crates/agentty/src/AGENTS.md
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/merge.rs
  crates/agentty/src/app/session/workflow/task.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/app/setting.rs
  crates/agentty/src/domain/setting.rs
  crates/agentty/src/infra/db.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Generate VHS feature GIFs from E2E tests with content-hash caching
  crates/agentty/src/ui/component/footer_bar.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/tests/e2e/common.rs
  crates/agentty/tests/e2e/confirmation.rs
  crates/agentty/tests/e2e/navigation.rs
  crates/agentty/tests/e2e/project.rs
  crates/agentty/tests/e2e/session.rs
  crates/agentty/tests/showcase.rs
  crates/testty/src/vhs.rs
  docs/site/static/features/.gitignore
  docs/site/static/features/backtab_reverse.gif
  docs/site/static/features/footer_hints.gif
  docs/site/static/features/help_overlay.gif
  docs/site/static/features/projects_cwd.gif
  docs/site/static/features/quit_confirmation.gif
  docs/site/static/features/quit_dismiss.gif
  docs/site/static/features/session_empty.gif
  docs/site/static/features/startup.gif
  docs/site/static/features/tab_full_cycle.gif
  docs/site/static/features/tab_switch.gif
Due: rustfmt, cargo-check, clippy, cargo-shear

Apply reducer projection for completed turns
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/infra/db.rs
  crates/agentty/src/ui/component/session_output.rs
  docs/site/content/docs/architecture/runtime-flow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Modularize app startup, review, and persistence helpers
  crates/agentty/src/app.rs
  crates/agentty/src/app/branch_publish.rs
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/reducer.rs
  crates/agentty/src/app/review.rs
  crates/agentty/src/app/startup.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/infra.rs
  crates/agentty/src/infra/db.rs
  crates/agentty/src/infra/project_repository.rs
  crates/agentty/src/infra/setting_repository.rs
  docs/site/content/docs/architecture/module-map.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Add session lifecycle E2E tests and shared git/session helpers
  crates/agentty/tests/e2e/common.rs
  crates/agentty/tests/e2e/session.rs
  docs/site/static/features/backtab_reverse.gif
  docs/site/static/features/footer_hints.gif
  docs/site/static/features/help_overlay.gif
  docs/site/static/features/projects_cwd.gif
  docs/site/static/features/prompt_cancel.gif
  docs/site/static/features/quit_confirmation.gif
  docs/site/static/features/quit_dismiss.gif
  docs/site/static/features/session_creation.gif
  docs/site/static/features/session_empty.gif
  docs/site/static/features/startup.gif
  docs/site/static/features/tab_full_cycle.gif
  docs/site/static/features/tab_switch.gif
Due: rustfmt, cargo-check, clippy, cargo-shear

Cache turn applied state in reducer batch
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/reducer.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Refine branch push authentication guidance and cancel summary handling
  crates/agentty/src/app/core.rs
  crates/agentty/src/ui/component/session_output.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Keep completed-turn metadata above active streaming prompt
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/runtime/mode/question.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/component/session_output.rs
  crates/agentty/src/ui/overlay.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/render.rs
  crates/agentty/src/ui/router.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Add transient `AgentReview` status for focused review generation
  crates/agentty/src/app/branch_publish.rs
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/review.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/merge.rs
  crates/agentty/src/app/session/workflow/review.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/runtime/event.rs
  crates/agentty/src/runtime/key_handler.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/src/runtime/mode/prompt.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/component/session_output.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/state/app_mode.rs
  crates/agentty/src/ui/state/help_action.rs
  crates/agentty/src/ui/style.rs
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Update review loading message formatting and reuse helpers
  crates/agentty/src/app.rs
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/review.rs
  crates/agentty/src/runtime/key_handler.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/component/session_output.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/state/app_mode.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Normalize @lookups for agent delivery while preserving raw prompt text
  crates/agentty/src/domain/composer.rs
  crates/agentty/src/infra/app_server/prompt.rs
  crates/agentty/src/infra/channel/cli.rs
  crates/agentty/src/infra/channel/contract.rs
  crates/agentty/src/ui/component/chat_input.rs
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Handle Gemini ACP usage parsing for additional quota payload formats
  crates/agentty/src/infra/agent/app_server/gemini/usage.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Update docs for provider-owned backends and question-mode behavior
  docs/site/content/docs/agents/backends.md
  docs/site/content/docs/architecture/change-recipes.md
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/contributing/managing-docs-with-zola.md
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat

Constrain draft prompt routing to new sessions
  crates/agentty/src/runtime/mode/prompt.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Improve docs content wrapping and table scroll behavior
  docs/site/sass/site.scss
Due: none

Wrap docs markdown tables in scroll containers
  docs/site/sass/site.scss
  docs/site/templates/base.html
Due: djlint-reformat

Improve selected session list status contrast
  crates/agentty/src/ui/page/session_list.rs
  crates/agentty/src/ui/style.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Refine session workflow diagram into explicit lifecycle lanes
  docs/site/content/docs/usage/workflow.md
Due: mdformat

Rename slash prompt action to commands menu
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/state/help_action.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Refine docs runtime-flow artifact guidance and add docs-site AGENTS
  docs/site/content/docs/AGENTS.md
  docs/site/content/docs/CLAUDE.md
  docs/site/content/docs/GEMINI.md
  docs/site/content/docs/architecture/runtime-flow.md
Due: mdformat

Refine docs table wrapping behavior across architecture docs and templates
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/sass/site.scss
  docs/site/templates/base.html
Due: mdformat, djlint-reformat

Add conditional Tasks tab for roadmap-enabled projects
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/tab.rs
  crates/agentty/src/infra/fs.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/src/ui/component/tab.rs
  crates/agentty/src/ui/page.rs
  crates/agentty/src/ui/page/task.rs
  crates/agentty/src/ui/render.rs
  crates/agentty/src/ui/router.rs
  crates/agentty/tests/e2e/common.rs
  crates/agentty/tests/e2e/confirmation.rs
  crates/agentty/tests/e2e/navigation.rs
  crates/agentty/tests/e2e/project.rs
  crates/agentty/tests/e2e/session.rs
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Release v0.7.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Add Zola auto-discovery for feature GIFs and update roadmap
  crates/agentty/src/ui/state/help_action.rs
  crates/agentty/tests/e2e/confirmation.rs
  crates/agentty/tests/e2e/navigation.rs
  crates/agentty/tests/e2e/project.rs
  crates/agentty/tests/e2e/session.rs
  docs/plan/roadmap.md
  docs/site/content/docs/contributing/managing-docs-with-zola.md
  docs/site/content/features/_index.md
  docs/site/content/features/backtab_reverse.md
  docs/site/content/features/footer_hints.md
  docs/site/content/features/help_overlay.md
  docs/site/content/features/projects_cwd.md
  docs/site/content/features/prompt_cancel.md
  docs/site/content/features/prompt_multiline.md
  docs/site/content/features/prompt_typing.md
  docs/site/content/features/quit_confirmation.md
  docs/site/content/features/quit_dismiss.md
  docs/site/content/features/session_creation.md
  docs/site/content/features/session_delete.md
  docs/site/content/features/session_empty.md
  docs/site/content/features/session_navigation.md
  docs/site/content/features/session_open.md
  docs/site/content/features/sessions.md
  docs/site/content/features/startup.md
  docs/site/content/features/tab_full_cycle.md
  docs/site/content/features/tab_switch.md
  docs/site/content/features/tab_tour.md
  docs/site/templates/feature-page.html
  docs/site/templates/features.html
Due: mdformat, djlint-reformat, rustfmt, cargo-check, clippy, cargo-shear

Add stub agent executables to e2e test environment for CI compatibility
  crates/agentty/tests/e2e/common.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Add greeting to README
  README.md
Due: mdformat

Add review request sync action and forge indicators in session view
  crates/agentty/src/AGENTS.md
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/refresh.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/runtime/mode/help.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/overlay.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/page/session_list.rs
  crates/agentty/src/ui/state/app_mode.rs
  crates/agentty/src/ui/state/help_action.rs
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Add missing `can_sync_review_request` field to `ViewHelpState` test fixtures
  crates/agentty/src/ui/state/help_action.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Color forge indicators by review-request state in session list
  crates/agentty/src/ui/page/session_list.rs
  crates/agentty/src/ui/style.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Release v0.7.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/site/static/features/backtab_reverse.gif
  docs/site/static/features/footer_hints.gif
  docs/site/static/features/help_overlay.gif
  docs/site/static/features/projects_cwd.gif
  docs/site/static/features/prompt_cancel.gif
  docs/site/static/features/prompt_typing.gif
  docs/site/static/features/quit_confirmation.gif
  docs/site/static/features/quit_dismiss.gif
  docs/site/static/features/session_creation.gif
  docs/site/static/features/session_delete.gif
  docs/site/static/features/session_empty.gif
  docs/site/static/features/session_navigation.gif
  docs/site/static/features/session_open.gif
  docs/site/static/features/startup.gif
  docs/site/static/features/tab_full_cycle.gif
  docs/site/static/features/tab_switch.gif
Due: mdformat

Display active model in session header
  crates/agentty/src/ui/page/session_chat.rs
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Render roadmap-backed Tasks tab
  crates/ag-xtask/src/roadmap.rs
  crates/agentty/src/app/core.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/src/ui.rs
  crates/agentty/src/ui/page/task.rs
  crates/agentty/src/ui/render.rs
  crates/agentty/src/ui/router.rs
  crates/agentty/src/ui/state/help_action.rs
  crates/agentty/src/ui/task_roadmap.rs
  crates/agentty/src/ui/util.rs
  crates/testty/examples/proof_pipeline.rs
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

I’ll quickly scan the nearest instruction sources for commit-message policy, including `AGENTS.md` scopes, and the `git-commit` skill before drafting the final message so it matches repository rules.
  crates/agentty/src/app.rs
  crates/agentty/src/app/branch_publish.rs
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/review_request.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/refresh.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/runtime/key_handler.rs
  crates/agentty/src/runtime/mode/help.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/component/publish_branch_overlay.rs
  crates/agentty/src/ui/overlay.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/router.rs
  crates/agentty/src/ui/state/app_mode.rs
  crates/agentty/src/ui/state/help_action.rs
  docs/plan/roadmap.md
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Release v0.7.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Generalize Shift+P publish wording and queue GitLab merge-request support
  crates/agentty/src/ui/page/session_chat.rs
  docs/plan/roadmap.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Update roadmap after `feature-test` skill landing
  docs/plan/roadmap.md
Due: mdformat

Center roadmap planning on user-facing slices
  docs/plan/AGENTS.md
  docs/plan/roadmap.md
  skills/implementation-plan/SKILL.md
  skills/implementation-plan/references/add-step.md
  skills/implementation-plan/references/update-step.md
Due: mdformat

Auto-sync already-published session branches after completed turns
  README.md
  crates/agentty/src/app/branch_publish.rs
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/access.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/load.rs
  crates/agentty/src/app/session/workflow/refresh.rs
  crates/agentty/src/app/session/workflow/review.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/app/session_state.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/runtime/event.rs
  crates/agentty/src/runtime/mode/question.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/component/session_output.rs
  crates/agentty/src/ui/page/diff.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/page/session_list.rs
  crates/agentty/src/ui/page/stat.rs
  crates/agentty/src/ui/render.rs
  crates/agentty/src/ui/router.rs
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/getting-started/overview.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Path conditions:
  mdformat: any of: \.(md|markdown)$
  djlint-reformat: any of: \.html?$
  rustfmt: any of: \.rs$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
  cargo-shear: any of: \.rs$
  check-migrations: any of: \.sql$
