Repository opencloudtool/agentty: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, djlint-reformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

mdformat:
  name: mdformat
  description: Format Markdown files.
  entry: mdformat
  language: python
  additional_dependencies:
  - mdformat==0.7.22

djlint-reformat:
  name: djlint reformat
  description: Format HTML files.
  entry: djlint --reformat
  language: python
  additional_dependencies:
  - djlint==1.36.4

rustfmt:
  name: rustfmt check
  description: Verify code formatting with rustfmt.
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check the package for errors.
  entry: cargo check -q --all-targets --all-features
  language: system
  pass_filenames: false

clippy:
  name: clippy
  description: Lint the code and fail on any warnings.
  entry: cargo clippy -q --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-shear:
  name: cargo-shear
  description: Check for unused dependencies.
  entry: cargo shear
  language: system
  pass_filenames: false

check-migrations:
  name: check migrations
  description: Verifies that migration files have unique prefix numbers.
  entry: cargo run -q -p ag-xtask -- check-migrations
  language: system
  pass_filenames: false

Add animated idle robot decoration for empty new session chat
  crates/agentty/src/ui/component.rs
  crates/agentty/src/ui/component/AGENTS.md
  crates/agentty/src/ui/component/empty_chat_animation.rs
  crates/agentty/src/ui/component/session_output.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Refine detached session rollout plan
  docs/plan/continue_in_progress_sessions_after_exit.md
Due: mdformat

Add humanoid body with arms to idle robot animation
  crates/agentty/src/ui/component/empty_chat_animation.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Document single evolving session commit flow
  docs/site/content/docs/architecture/change-recipes.md
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/runtime-flow.md
Due: mdformat

Rename implementation plan priorities to steps
  docs/plan/continue_in_progress_sessions_after_exit.md
  docs/plan/end_to_end_test_structure.md
  docs/plan/forge_review_request_support.md
  docs/plan/prompt_image_paste.md
  skills/implementation-plan/AGENTS.md
  skills/implementation-plan/SKILL.md
Due: mdformat

Clarify implementation-plan AGENTS purpose
  skills/implementation-plan/AGENTS.md
Due: mdformat

Track prompt image attachments in prompt mode
  Cargo.lock
  Cargo.toml
  README.md
  crates/agentty/Cargo.toml
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/infra/app_server.rs
  crates/agentty/src/infra/app_server_router.rs
  crates/agentty/src/infra/channel.rs
  crates/agentty/src/infra/channel/app_server.rs
  crates/agentty/src/infra/channel/cli.rs
  crates/agentty/src/infra/channel/contract.rs
  crates/agentty/src/infra/codex_app_server.rs
  crates/agentty/src/infra/gemini_acp.rs
  crates/agentty/src/runtime.rs
  crates/agentty/src/runtime/AGENTS.md
  crates/agentty/src/runtime/clipboard_image.rs
  crates/agentty/src/runtime/event.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/src/runtime/mode/prompt.rs
  crates/agentty/src/runtime/mode/question.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/layout.rs
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/state/app_mode.rs
  crates/agentty/src/ui/state/prompt.rs
  crates/agentty/tests/protocol_compliance_e2e.rs
  docs/plan/prompt_image_paste.md
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Release v0.5.11
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: mdformat

Harden prompt image workflow lifecycle
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/merge.rs
  crates/agentty/src/app/session/workflow/refresh.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/domain/agent.rs
  crates/agentty/src/infra/channel/app_server.rs
  crates/agentty/src/infra/channel/cli.rs
  crates/agentty/src/infra/channel/contract.rs
  crates/agentty/src/infra/fs.rs
  crates/agentty/src/runtime/clipboard_image.rs
  crates/agentty/src/runtime/mode/prompt.rs
  crates/agentty/src/ui/page/session_chat.rs
  docs/plan/prompt_image_paste.md
  docs/site/content/docs/architecture/testability-boundaries.md
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Surface Claude auth guidance for command failures
  crates/agentty/src/infra/agent/submission.rs
  crates/agentty/src/infra/channel/cli.rs
  docs/site/content/docs/agents/backends.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Stream Claude and Gemini prompts through stdin
  crates/agentty/src/infra/agent.rs
  crates/agentty/src/infra/agent/backend.rs
  crates/agentty/src/infra/agent/claude.rs
  crates/agentty/src/infra/agent/gemini.rs
  crates/agentty/src/infra/agent/submission.rs
  crates/agentty/src/infra/channel/cli.rs
  docs/site/content/docs/agents/backends.md
  docs/site/content/docs/architecture/runtime-flow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Add auto-update implementation plan
  docs/plan/AGENTS.md
  docs/plan/auto_update.md
Due: mdformat

Add test failure protocol to quality gates in AGENTS.md
  AGENTS.md
Due: mdformat

Simplify auto-update plan to background npm install with status bar progress
  docs/plan/auto_update.md
Due: mdformat

Session prompt footer uses shared help styling
  crates/agentty/src/ui/page/session_chat.rs
  crates/agentty/src/ui/state/help_action.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Support pasted prompt images across all session backends
  Cargo.lock
  Cargo.toml
  README.md
  crates/agentty/Cargo.toml
  crates/agentty/src/app/core.rs
  crates/agentty/src/domain/agent.rs
  crates/agentty/src/infra/agent/backend.rs
  crates/agentty/src/infra/agent/claude.rs
  crates/agentty/src/infra/agent/codex.rs
  crates/agentty/src/infra/agent/gemini.rs
  crates/agentty/src/infra/agent/submission.rs
  crates/agentty/src/infra/channel.rs
  crates/agentty/src/infra/channel/app_server.rs
  crates/agentty/src/infra/channel/cli.rs
  crates/agentty/src/infra/channel/contract.rs
  crates/agentty/src/infra/codex_app_server.rs
  crates/agentty/src/infra/gemini_acp.rs
  crates/agentty/src/runtime/mode/prompt.rs
  crates/agentty/src/ui/page/session_chat.rs
  docs/plan/AGENTS.md
  docs/plan/prompt_image_paste.md
  docs/site/content/docs/agents/backends.md
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Add postsubmit coverage workflow
  .github/workflows/AGENTS.md
  .github/workflows/postsubmit.yml
Due: mdformat

Add background auto-update with status bar progress and --no-update flag
  README.md
  crates/agentty/src/app.rs
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/infra/AGENTS.md
  crates/agentty/src/infra/agent/claude.rs
  crates/agentty/src/infra/version.rs
  crates/agentty/src/main.rs
  crates/agentty/src/runtime/event.rs
  crates/agentty/src/runtime/mode/diff.rs
  crates/agentty/src/runtime/mode/help.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/src/runtime/mode/prompt.rs
  crates/agentty/src/runtime/mode/question.rs
  crates/agentty/src/runtime/mode/sync_blocked.rs
  crates/agentty/src/ui/component/status_bar.rs
  crates/agentty/src/ui/render.rs
  docs/plan/auto_update.md
  docs/site/content/docs/architecture/testability-boundaries.md
  docs/site/content/docs/getting-started/overview.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Add multi-installer auto-update implementation plans
  docs/plan/AGENTS.md
  docs/plan/multi_method_auto_update.md
Due: mdformat

Document setting keys and simplify publish updates
  crates/agentty/src/app/core.rs
  crates/agentty/src/domain/setting.rs
  crates/agentty/src/infra/channel/contract.rs
  crates/agentty/src/infra/db.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Make filesystem reads asynchronous
  Cargo.toml
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/merge.rs
  crates/agentty/src/app/session/workflow/refresh.rs
  crates/agentty/src/infra/fs.rs
  docs/site/content/docs/architecture/testability-boundaries.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Handle startup app initialization errors
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/core.rs
  crates/agentty/src/main.rs
  crates/agentty/src/runtime/event.rs
  crates/agentty/src/runtime/key_handler.rs
  crates/agentty/src/runtime/mode/diff.rs
  crates/agentty/src/runtime/mode/help.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/src/runtime/mode/prompt.rs
  crates/agentty/src/runtime/mode/question.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/runtime/mode/sync_blocked.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Remove terminal summary prompt
  crates/agentty/resources/AGENTS.md
  crates/agentty/resources/session_terminal_summary_prompt.md
Due: mdformat

Use native backend instructions and create database directories asynchronously
  crates/agentty/src/infra/agent/codex.rs
  crates/agentty/src/infra/db.rs
  docs/site/content/docs/agents/backends.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Prompt builders always embed self-descriptive schemas.
  crates/agentty/resources/AGENTS.md
  crates/agentty/resources/protocol_instruction_prompt.md
  crates/agentty/src/infra/agent.rs
  crates/agentty/src/infra/agent/backend.rs
  crates/agentty/src/infra/agent/claude.rs
  crates/agentty/src/infra/agent/codex.rs
  crates/agentty/src/infra/agent/gemini.rs
  crates/agentty/src/infra/agent/protocol.rs
  crates/agentty/src/infra/app_server.rs
  crates/agentty/src/infra/codex_app_server.rs
  crates/agentty/src/infra/gemini_acp.rs
  docs/site/content/docs/agents/backends.md
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/runtime-flow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Add draft session prompt collection plan
  docs/plan/AGENTS.md
  docs/plan/draft_session_prompt_collection.md
Due: mdformat

Store structured session summaries in the top-level `summary` field.
  crates/agentty/resources/protocol_instruction_prompt.md
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/workflow/merge.rs
  crates/agentty/src/app/session/workflow/task.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/infra/agent.rs
  crates/agentty/src/infra/agent/backend.rs
  crates/agentty/src/infra/agent/claude.rs
  crates/agentty/src/infra/agent/codex.rs
  crates/agentty/src/infra/agent/gemini.rs
  crates/agentty/src/infra/agent/protocol.rs
  crates/agentty/src/infra/app_server.rs
  crates/agentty/src/infra/codex_app_server.rs
  crates/agentty/src/infra/db.rs
  crates/agentty/src/ui/component/session_output.rs
  crates/agentty/src/ui/diff_util.rs
  docs/site/content/docs/agents/backends.md
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/runtime-flow.md
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Add prompt-mode test session fixture
  crates/agentty/src/runtime/event.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Returning a schema-valid response payload.
  crates/agentty/resources/protocol_instruction_prompt.md
  crates/agentty/src/infra/agent/backend.rs
  crates/agentty/src/infra/agent/codex.rs
  crates/agentty/src/infra/agent/protocol.rs
  docs/site/content/docs/agents/backends.md
  docs/site/content/docs/architecture/runtime-flow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Limit question options to three answers
  crates/agentty/src/infra/agent/protocol.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Protocol prompt includes repo-root path rules
  crates/agentty/resources/AGENTS.md
  crates/agentty/resources/protocol_instruction_prompt.md
  crates/agentty/resources/repo_root_path_prompt.md
  crates/agentty/src/infra/agent.rs
  crates/agentty/src/infra/agent/backend.rs
  crates/agentty/src/infra/agent/claude.rs
  crates/agentty/src/infra/agent/codex.rs
  crates/agentty/src/infra/agent/gemini.rs
  crates/agentty/src/infra/app_server.rs
  docs/site/content/docs/agents/backends.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Add session in-progress timer plan
  docs/plan/AGENTS.md
  docs/plan/session_in_progress_timer.md
Due: mdformat

Use typed SQLx row mappings in database readers
  crates/agentty/.sqlx/AGENTS.md
  crates/agentty/.sqlx/query-0f580d241f3c3f8e3f8cd3e5c324709f6ec5c6d67da1f9ae51e3208002d9df5c.json
  crates/agentty/.sqlx/query-1fe961aa59e6ec14e0ceda6ed64afceb25f876f5ffa3212132ab9bddda9d4952.json
  crates/agentty/.sqlx/query-422bcf5129f03b6058bd1e5a04d376caa763c5084bd499abe763bfb2e655ce7a.json
  crates/agentty/.sqlx/query-4a70667663d0b0eb4f7479d3f7d055a856b881683653a9b2244b24a8ea1c6e99.json
  crates/agentty/.sqlx/query-752ea1df1fa1d6ddd1dcddfdc3b974a862401de3a70b0754eadabffc59ffe035.json
  crates/agentty/.sqlx/query-8f192d056a69946313fc766cd20ed601f615bc5a732bff299026ed907d53520f.json
  crates/agentty/.sqlx/query-9e944b14a5f319e1b97eaed13533e7b0e84bd22c8018e72df0af239b94ba74f9.json
  crates/agentty/.sqlx/query-c315669af133f3b4c7fde602d04ea1dd0cc02cf7826128f51fa05eff004d04a9.json
  crates/agentty/.sqlx/query-d0bc573a187f5fdb47f296e235060d6804f187dedc08250110042d2eb157e098.json
  crates/agentty/src/infra/db.rs
  docs/plan/sqlx_query_as_db.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Finish typed SQLx query mapping cleanup
  CONTRIBUTING.md
  crates/agentty/.sqlx/AGENTS.md
  crates/agentty/.sqlx/query-76e8b8a274c05f2d3a7308c7113bdb14a4c39af71dcff6a37bbdf315c6a42a61.json
  crates/agentty/.sqlx/query-b88f5652d96b75591911bafa64b47776ea4090007e9e4bf8d82e31b40523090b.json
  crates/agentty/.sqlx/query-bfcda87a513dbee5abbc35a95944a42a4791715faeafda11c9569b1e4f938eee.json
  crates/agentty/.sqlx/query-df4746c402d62fd41431633089d019f3b483a0459ac77a964e60980a120aedc2.json
  crates/agentty/src/app/core.rs
  crates/agentty/src/app/session/workflow/task.rs
  crates/agentty/src/infra/db.rs
  crates/agentty/src/infra/git/sync.rs
  crates/agentty/src/main.rs
  crates/agentty/src/ui/component/footer_bar.rs
  crates/agentty/src/ui/router.rs
  docs/plan/AGENTS.md
  docs/plan/sqlx_query_as_db.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Preserve protocol profiles and fail fast on schema errors
  crates/agentty/resources/AGENTS.md
  crates/agentty/resources/protocol_instruction_prompt.md
  crates/agentty/src/app/session/workflow/lifecycle.rs
  crates/agentty/src/app/session/workflow/merge.rs
  crates/agentty/src/app/session/workflow/task.rs
  crates/agentty/src/app/session/workflow/worker.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/infra/agent.rs
  crates/agentty/src/infra/agent/AGENTS.md
  crates/agentty/src/infra/agent/backend.rs
  crates/agentty/src/infra/agent/claude.rs
  crates/agentty/src/infra/agent/codex.rs
  crates/agentty/src/infra/agent/gemini.rs
  crates/agentty/src/infra/agent/protocol.rs
  crates/agentty/src/infra/agent/submission.rs
  crates/agentty/src/infra/app_server.rs
  crates/agentty/src/infra/app_server_router.rs
  crates/agentty/src/infra/channel/app_server.rs
  crates/agentty/src/infra/channel/cli.rs
  crates/agentty/src/infra/channel/contract.rs
  crates/agentty/src/infra/codex_app_server.rs
  crates/agentty/tests/protocol_compliance_e2e.rs
  docs/plan/protocol_request_instructions.md
  docs/site/content/docs/agents/backends.md
  docs/site/content/docs/architecture/module-map.md
  docs/site/content/docs/architecture/runtime-flow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Share runtime frame interval constant
  crates/agentty/src/runtime.rs
  crates/agentty/src/runtime/AGENTS.md
  crates/agentty/src/runtime/core.rs
  crates/agentty/src/runtime/event.rs
  crates/agentty/src/runtime/timing.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Refine TUI E2E testing framework plan for incremental delivery
  docs/plan/AGENTS.md
  docs/plan/tui_e2e_testing_framework.md
Due: mdformat

Clarify protocol request profile plan status
  docs/plan/protocol_request_instructions.md
Due: mdformat

Restrict `a` (new session) shortcut to the Sessions tab
  crates/agentty/src/runtime.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/src/ui/state/help_action.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Rename agent response message kind to type
  crates/agentty/src/infra/agent/protocol.rs
  docs/site/content/docs/architecture/module-map.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Path conditions:
  mdformat: any of: \.(md|markdown)$
  djlint-reformat: any of: \.html?$
  rustfmt: any of: \.rs$
  cargo-check: any of: \.rs$
  clippy: any of: \.rs$
  cargo-shear: any of: \.rs$
  check-migrations: any of: \.sql$
