Repository opencloudtool/agentty: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, djlint-reformat, rustfmt, cargo-check, clippy, cargo-shear, check-migrations

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        description: Format Markdown files.
        entry: mdformat
        language: python
        additional_dependencies: [mdformat==0.7.22]
        files: \.(md|markdown)$
      - id: djlint-reformat
        name: djlint reformat
        description: Format HTML files.
        entry: djlint --reformat
        language: python
        additional_dependencies: [djlint==1.36.4]
        files: \.html?$
      - id: rustfmt-fix
        name: rustfmt fix
        description: Format the code with rustfmt.
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
      - id: clippy-fix
        name: clippy fix
        description: Auto-fix clippy lints where possible.
        entry: cargo clippy --fix --allow-dirty --allow-staged -q --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
      - id: rustfmt
        name: rustfmt check
        description: Verify code formatting with rustfmt.
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check the package for errors.
        entry: cargo check -q --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false
      - id: clippy
        name: clippy
        description: Lint the code and fail on any warnings.
        entry: cargo clippy -q --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-shear
        name: cargo-shear
        description: Check for unused dependencies.
        entry: cargo shear
        language: system
        types: [rust]
        pass_filenames: false
      - id: check-indexes
        name: check indexes
        description: Verifies that all AGENTS.md files have an up-to-date Directory Index.
        entry: cargo run -q -p ag-xtask -- check-indexes
        language: system
        pass_filenames: false
      - id: check-migrations
        name: check migrations
        description: Verifies that migration files have unique prefix numbers.
        entry: cargo run -q -p ag-xtask -- check-migrations
        language: system
        types: [sql]
        pass_filenames: false

Preserve configured open command without exec prefix
  crates/agentty/src/app.rs
  crates/agentty/src/app/session.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Session list page keeps horizontal padding without top spacing
  crates/agentty/src/ui/pages/session_list.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Refine docs layout with dual sidebars and page outline
  AGENTS.md
  docs/plan/beautiful_ui.md
  docs/site/sass/site.scss
  docs/site/templates/docs-page.html
Due: mdformat, djlint-reformat

Project list highlights active project
  crates/agentty/src/app.rs
  crates/agentty/src/ui/pages/project_list.rs
  crates/agentty/src/ui/render.rs
  crates/agentty/src/ui/router.rs
  docs/site/content/docs/usage/usage.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Add GitHub metadata badges to docs navbar
  docs/site/config.toml
  docs/site/sass/site.scss
  docs/site/templates/base.html
Due: djlint-reformat

Add tooling setup instructions for uv and pre-commit
  CONTRIBUTING.md
Due: mdformat

Enable right-side anchor links in docs markdown
  docs/site/config.toml
Due: none

Add structured agent response protocol with metadata delimiter
  crates/agentty/resources/AGENTS.md
  crates/agentty/resources/protocol_instruction_prompt.md
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/worker.rs
  crates/agentty/src/infra/agent.rs
  crates/agentty/src/infra/agent/AGENTS.md
  crates/agentty/src/infra/agent/backend.rs
  crates/agentty/src/infra/agent/protocol.rs
  crates/agentty/src/infra/channel.rs
  crates/agentty/src/infra/channel/app_server.rs
  crates/agentty/src/infra/channel/cli.rs
  crates/agentty/src/infra/db.rs
  docs/site/content/docs/contributing/design-architecture.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Propagate assistant phase metadata in app-server streams
  crates/agentty/src/infra/app_server.rs
  crates/agentty/src/infra/channel/app_server.rs
  crates/agentty/src/infra/codex_app_server.rs
  crates/agentty/src/infra/gemini_acp.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Inject sleeper dependencies for deterministic retry and event reader tests
  crates/agentty/src/infra/git/rebase.rs
  crates/agentty/src/lib.rs
  crates/agentty/src/runtime/event.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Extract process boundaries for tmux, editor launch, and sync execution
  crates/agentty/src/app.rs
  crates/agentty/src/infra.rs
  crates/agentty/src/infra/AGENTS.md
  crates/agentty/src/infra/file_index.rs
  crates/agentty/src/infra/tmux.rs
  crates/agentty/src/runtime/mode/list.rs
  crates/agentty/src/runtime/terminal.rs
  docs/site/content/docs/contributing/design-architecture.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Generate session titles once and harden runtime shutdown I/O
  crates/agentty/resources/AGENTS.md
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/infra/codex_app_server.rs
  crates/agentty/src/infra/gemini_acp.rs
  docs/site/content/docs/usage/usage.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Support nested turn ID aliases in Codex turn parsing
  crates/agentty/src/infra/codex_app_server.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Refresh session size in background before opening view mode
  crates/agentty/src/app.rs
  crates/agentty/src/runtime/mode/list.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Fix session stop tests for child PID handling
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/session/task.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Rename focused review assist to review across app and docs
  crates/agentty/resources/AGENTS.md
  crates/agentty/resources/review_assist_prompt.md
  crates/agentty/src/app.rs
  crates/agentty/src/app/settings.rs
  crates/agentty/src/app/task.rs
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/components/session_output.rs
  crates/agentty/src/ui/diff_util.rs
  crates/agentty/src/ui/pages/session_chat.rs
  crates/agentty/src/ui/state/app_mode.rs
  crates/agentty/src/ui/state/help_action.rs
  docs/site/content/docs/contributing/design-architecture.md
  docs/site/content/docs/usage/usage.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Rename nvim help text to open editor
  crates/agentty/src/ui/pages/session_chat.rs
  crates/agentty/src/ui/pages/session_list.rs
  crates/agentty/src/ui/state/help_action.rs
  docs/site/content/docs/usage/usage.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Refine session view shortcuts for rebasing and merge queue states
  crates/agentty/src/runtime/mode/session_view.rs
  crates/agentty/src/ui/pages/session_chat.rs
  crates/agentty/src/ui/state/help_action.rs
  docs/site/content/docs/usage/usage.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Wrap diff file selection when navigating with j and k
  crates/agentty/src/runtime/mode/diff.rs
  crates/agentty/src/ui/components/file_explorer.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Set design architecture page weight to 0
  docs/site/content/docs/contributing/design-architecture.md
Due: mdformat

Split usage documentation into workflow and keybindings pages
  AGENTS.md
  crates/agentty/src/domain/AGENTS.md
  crates/agentty/src/runtime/mode/AGENTS.md
  crates/agentty/src/ui/state/AGENTS.md
  docs/site/content/docs/contributing/design-architecture.md
  docs/site/content/docs/getting-started/overview.md
  docs/site/content/docs/usage/AGENTS.md
  docs/site/content/docs/usage/_index.md
  docs/site/content/docs/usage/keybindings.md
  docs/site/content/docs/usage/usage.md
  docs/site/content/docs/usage/workflow.md
  skills/release/SKILL.md
Due: mdformat

Clarify full-suite test requirement in quality gates
  AGENTS.md
Due: mdformat

Preserve live session state during reload and handle sync
  crates/agentty/src/app/session/load.rs
  crates/agentty/src/app/session_state.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Require validation checks during execution phase
  AGENTS.md
Due: mdformat

Show active project name in the Sessions tab
  AGENTS.md
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/session/refresh.rs
  crates/agentty/src/domain/agent.rs
  crates/agentty/src/infra/codex_app_server.rs
  crates/agentty/src/ui/components/tab.rs
  crates/agentty/src/ui/router.rs
  crates/agentty/src/ui/state/help_action.rs
  docs/site/content/docs/usage/workflow.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Switch agent output to schema-validated JSON messages
  Cargo.lock
  Cargo.toml
  crates/agentty/Cargo.toml
  crates/agentty/resources/protocol_instruction_prompt.md
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/session/load.rs
  crates/agentty/src/app/session/worker.rs
  crates/agentty/src/app/session_state.rs
  crates/agentty/src/domain/session.rs
  crates/agentty/src/infra/agent.rs
  crates/agentty/src/infra/agent/backend.rs
  crates/agentty/src/infra/agent/protocol.rs
  crates/agentty/src/infra/agent/question_parser.rs
  crates/agentty/src/infra/channel.rs
  crates/agentty/src/infra/channel/app_server.rs
  crates/agentty/src/infra/channel/cli.rs
  crates/agentty/src/infra/codex_app_server.rs
  crates/agentty/src/infra/db.rs
  crates/agentty/src/runtime/mode/session_view.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Allow Claude agent to use plan mode tools
  crates/agentty/src/infra/agent/claude.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Handle agent clarification questions in dedicated question mode
  crates/agentty/resources/protocol_instruction_prompt.md
  crates/agentty/src/app.rs
  crates/agentty/src/app/session/refresh.rs
  crates/agentty/src/app/session/worker.rs
  crates/agentty/src/infra/agent/protocol.rs
  crates/agentty/src/infra/channel/app_server.rs
  crates/agentty/src/infra/channel/cli.rs
  crates/agentty/src/runtime/event.rs
  crates/agentty/src/runtime/key_handler.rs
  crates/agentty/src/runtime/mode.rs
  crates/agentty/src/runtime/mode/AGENTS.md
  crates/agentty/src/runtime/mode/question.rs
  crates/agentty/src/ui/pages/session_chat.rs
  crates/agentty/src/ui/render.rs
  crates/agentty/src/ui/router.rs
  crates/agentty/src/ui/state/app_mode.rs
  docs/site/content/docs/usage/keybindings.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Filter Codex thought text from persisted assistant output
  crates/agentty/src/app/session/worker.rs
  crates/agentty/src/infra/channel/app_server.rs
  crates/agentty/src/infra/codex_app_server.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Move first-turn title generation to start-turn worker
  crates/agentty/resources/session_title_generation_prompt.md
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/session/worker.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Remove plan messages from agent response protocol
  crates/agentty/resources/protocol_instruction_prompt.md
  crates/agentty/src/app/session/worker.rs
  crates/agentty/src/infra/agent/protocol.rs
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Normalize assist protocol output before session display
  crates/agentty/src/app/session/task.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Improve chat input wrapping and viewport scrolling
  crates/agentty/src/ui/components/chat_input.rs
  crates/agentty/src/ui/layout.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Move `SettingName` into the domain setting module
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/session/worker.rs
  crates/agentty/src/app/settings.rs
  crates/agentty/src/domain.rs
  crates/agentty/src/domain/AGENTS.md
  crates/agentty/src/domain/setting.rs
  crates/agentty/src/infra/db.rs
  docs/site/content/docs/contributing/design-architecture.md
Due: mdformat, rustfmt, cargo-check, clippy, cargo-shear

Route `/stats` session data through the app layer
  crates/agentty/src/app.rs
  crates/agentty/src/runtime/mode/prompt.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Inject clock into assist output stream timing
  crates/agentty/src/app/assist.rs
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/merge.rs
  crates/agentty/src/app/session/task.rs
  crates/agentty/src/app/session/worker.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Prefer agent message content over trailing reasoning payloads
  crates/agentty/src/infra/agent/response_parser.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Refactor session services and remove unused nix dependency
  Cargo.lock
  Cargo.toml
  crates/agentty/Cargo.toml
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/access.rs
  crates/agentty/src/app/session/lifecycle.rs
  crates/agentty/src/app/session/load.rs
  crates/agentty/src/app/session/merge.rs
  crates/agentty/src/app/session/refresh.rs
  crates/agentty/src/app/session/worker.rs
  crates/agentty/src/ui.rs
  crates/agentty/src/ui/state/app_mode.rs
  crates/agentty/src/ui/style.rs
Due: rustfmt, cargo-check, clippy, cargo-shear

Clarify scope of session directives across branch changes
  crates/agentty/resources/protocol_instruction_prompt.md
Due: mdformat

Inject filesystem client into session loading
  crates/agentty/src/app.rs
  crates/agentty/src/app/session.rs
  crates/agentty/src/app/session/load.rs
  crates/agentty/src/app/session/merge.rs
  crates/agentty/src/infra/fs.rs
Due: rustfmt, cargo-check, clippy, cargo-shear
